<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>
<key>startColorAlpha</key>
<real>0.24</real>
<key>startParticleSizeVariance</key>
<real>25.24</real>
<key>objectId</key>
<string>518655008b7959bc2d0000d5</string>
<key>startColorGreen</key>
<integer>1</integer>
<key>rotatePerSecond</key>
<integer>0</integer>
<key>uuid</key>
<string>6bb757d02ab940cac7e31eb6c9f698d9</string>
<key>radialAcceleration</key>
<integer>0</integer>
<key>emitterType</key>
<integer>0</integer>
<key>blendFuncSource</key>
<integer>771</integer>
<key>finishColorVarianceAlpha</key>
<integer>0</integer>
<key>description</key>
<string>02</string>
<key>rotationEnd</key>
<integer>180</integer>
<key>startColorVarianceBlue</key>
<integer>0</integer>
<key>rotatePerSecondVariance</key>
<integer>0</integer>
<key>particleLifespan</key>
<integer>0</integer>
<key>createdAt</key>
<real>1367758080.376</real>
<key>minRadius</key>
<integer>0</integer>
<key>tangentialAcceleration</key>
<integer>0</integer>
<key>startColorVarianceGreen</key>
<integer>0</integer>
<key>rotationStart</key>
<integer>0</integer>
<key>speed</key>
<real>235.09</real>
<key>minRadiusVariance</key>
<integer>0</integer>
<key>finishColorVarianceBlue</key>
<real>0.5</real>
<key>name</key>
<string>star02</string>
<key>finishColorBlue</key>
<integer>1</integer>
<key>finishColorGreen</key>
<integer>1</integer>
<key>blendFuncDestination</key>
<integer>771</integer>
<key>finishColorAlpha</key>
<real>0.35</real>
<key>sourcePositionVariancex</key>
<integer>-12</integer>
<key>startParticleSize</key>
<integer>30</integer>
<key>sourcePositionVariancey</key>
<integer>-64</integer>
<key>startColorRed</key>
<integer>1</integer>
<key>finishColorVarianceRed</key>
<real>0.52</real>
<key>startColorVarianceAlpha</key>
<integer>0</integer>
<key>maxParticles</key>
<integer>100</integer>
<key>finishColorVarianceGreen</key>
<real>0.63</real>
<key>finishParticleSize</key>
<integer>0</integer>
<key>duration</key>
<real>0.2</real>
<key>startColorVarianceRed</key>
<integer>0</integer>
<key>thumbnailFileName</key>
<string>61B3BF6F-0AC1-404A-A5CE-6FD13F26AA17</string>
<key>finishColorRed</key>
<integer>1</integer>
<key>gravityx</key>
<integer>0</integer>
<key>maxRadiusVariance</key>
<integer>0</integer>
<key>finishParticleSizeVariance</key>
<real>71.21</real>
<key>gravityy</key>
<integer>0</integer>
<key>rotationEndVariance</key>
<integer>0</integer>
<key>startColorBlue</key>
<integer>1</integer>
<key>speedVariance</key>
<integer>2</integer>
<key>rotationStartVariance</key>
<integer>0</integer>
<key>radialAccelVariance</key>
<integer>0</integer>
<key>textureFileName</key>
<string>pd192.png</string>
<key>tangentialAccelVariance</key>
<integer>0</integer>
<key>particleLifespanVariance</key>
<real>0.5</real>
<key>updatedAt</key>
<real>1396525320.715</real>
<key>angleVariance</key>
<integer>360</integer>
<key>angle</key>
<integer>0</integer>
<key>maxRadius</key>
<integer>100</integer>
<key>yCoordFlipped</key>
<integer>0</integer>
<key>sourcePositionx</key>
<real>320</real>
<key>sourcePositiony</key>
<real>482</real>
</dict></plist>