<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>
<key>startColorAlpha</key>
<integer>1</integer>
<key>startParticleSizeVariance</key>
<integer>0</integer>
<key>objectId</key>
<string>518655008b7959bc2d00005c</string>
<key>startColorGreen</key>
<integer>1</integer>
<key>rotatePerSecond</key>
<real>21.32</real>
<key>uuid</key>
<string>2b4e115badeecafa74b582079e39572a</string>
<key>radialAcceleration</key>
<real>197.37</real>
<key>emitterType</key>
<integer>0</integer>
<key>blendFuncSource</key>
<integer>770</integer>
<key>finishColorVarianceAlpha</key>
<integer>1</integer>
<key>description</key>
<string>A ghostly starfield</string>
<key>rotationEnd</key>
<integer>200</integer>
<key>startColorVarianceBlue</key>
<integer>0</integer>
<key>rotatePerSecondVariance</key>
<integer>0</integer>
<key>particleLifespan</key>
<real>1.6447</real>
<key>createdAt</key>
<real>1367758080.35</real>
<key>minRadius</key>
<real>192.63</real>
<key>tangentialAcceleration</key>
<integer>0</integer>
<key>startColorVarianceGreen</key>
<integer>0</integer>
<key>rotationStart</key>
<integer>0</integer>
<key>speed</key>
<real>46.05</real>
<key>minRadiusVariance</key>
<integer>0</integer>
<key>finishColorVarianceBlue</key>
<integer>0</integer>
<key>name</key>
<string>Ghostly Field</string>
<key>finishColorBlue</key>
<integer>1</integer>
<key>finishColorGreen</key>
<integer>1</integer>
<key>blendFuncDestination</key>
<integer>1</integer>
<key>finishColorAlpha</key>
<real>0.52</real>
<key>sourcePositionVariancex</key>
<integer>254</integer>
<key>startParticleSize</key>
<real>3.37</real>
<key>sourcePositionVariancey</key>
<integer>544</integer>
<key>startColorRed</key>
<integer>0</integer>
<key>finishColorVarianceRed</key>
<integer>0</integer>
<key>startColorVarianceAlpha</key>
<integer>0</integer>
<key>maxParticles</key>
<integer>697</integer>
<key>finishColorVarianceGreen</key>
<integer>0</integer>
<key>finishParticleSize</key>
<real>131.37</real>
<key>duration</key>
<integer>-1</integer>
<key>startColorVarianceRed</key>
<integer>0</integer>
<key>thumbnailFileName</key>
<string>317B2464-1BDE-4518-8305-919C37C52E01</string>
<key>finishColorRed</key>
<integer>1</integer>
<key>gravityx</key>
<integer>0</integer>
<key>maxRadiusVariance</key>
<integer>0</integer>
<key>finishParticleSizeVariance</key>
<integer>0</integer>
<key>gravityy</key>
<integer>0</integer>
<key>rotationEndVariance</key>
<integer>0</integer>
<key>startColorBlue</key>
<integer>1</integer>
<key>speedVariance</key>
<integer>0</integer>
<key>rotationStartVariance</key>
<integer>0</integer>
<key>radialAccelVariance</key>
<integer>0</integer>
<key>textureImageData</key>
<string>H4sIAAAAAAAAAwENAfL+iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA1ElEQVRYCe2V0Q3DIAxEoeokzU6ZuiskK3SEtqp0Er44QJqq50jJDzow4HtycH4m7XfRXp/S9YsEWtDyljPlBHLLzttNR0jVc5VIaAJ7nTMWl0RIAq7zeZqMo9swGM2iEm9IxCfATtgpk+iIj0Vg80s4jg8D4W7UUrTi5TVQEnCrf+lp9wzu+dSCnEDZC5CZa5Grm6ufN3XEH4wAO/yBjkFAXoRnAicBOYGyF/Cvjb699kJiHftace56SALsDNp1APvOiH1YgjbnyAmU3RCZ/nWUE3gBZEEtCtiq0bAAAAAASUVORK5CYII18fm3DQEAAA==</string>
<key>tangentialAccelVariance</key>
<integer>0</integer>
<key>particleLifespanVariance</key>
<integer>0</integer>
<key>updatedAt</key>
<real>1396525516.715</real>
<key>angleVariance</key>
<integer>0</integer>
<key>angle</key>
<integer>0</integer>
<key>maxRadius</key>
<real>66.32</real>
<key>sourcePositionx</key>
<integer>0</integer>
<key>sourcePositiony</key>
<integer>0</integer>
<key>yCoordFlipped</key>
<integer>0</integer>
</dict></plist>