<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>
<key>startColorAlpha</key>
<integer>1</integer>
<key>startParticleSizeVariance</key>
<real>7.148148059845</real>
<key>startColorGreen</key>
<real>0.99829119443893</real>
<key>rotatePerSecond</key>
<integer>360</integer>
<key>radialAcceleration</key>
<integer>0</integer>
<key>emitterType</key>
<integer>0</integer>
<key>blendFuncSource</key>
<integer>770</integer>
<key>finishColorVarianceAlpha</key>
<integer>1</integer>
<key>description</key>
<string>a</string>
<key>rotationEnd</key>
<integer>0</integer>
<key>startColorVarianceBlue</key>
<integer>0</integer>
<key>rotatePerSecondVariance</key>
<integer>0</integer>
<key>particleLifespan</key>
<real>0.4</real>
<key>minRadius</key>
<integer>300</integer>
<key>tangentialAcceleration</key>
<integer>0</integer>
<key>startColorVarianceGreen</key>
<integer>0</integer>
<key>rotationStart</key>
<integer>0</integer>
<key>speed</key>
<real>82.298141479492</real>
<key>minRadiusVariance</key>
<integer>0</integer>
<key>finishColorVarianceBlue</key>
<integer>0</integer>
<key>name</key>
<string></string>
<key>finishColorBlue</key>
<integer>0</integer>
<key>finishColorGreen</key>
<real>0.14913141727448</real>
<key>blendFuncDestination</key>
<integer>1</integer>
<key>finishColorAlpha</key>
<real>0.20000000298023</real>
<key>sourcePositionVariancex</key>
<integer>25</integer>
<key>startParticleSize</key>
<real>38.434783935547</real>
<key>sourcePositionVariancey</key>
<integer>20</integer>
<key>startColorRed</key>
<real>0.97493499517441</real>
<key>finishColorVarianceRed</key>
<real>0.61866754293442</real>
<key>startColorVarianceAlpha</key>
<integer>1</integer>
<key>maxParticles</key>
<integer>16</integer>
<key>finishColorVarianceGreen</key>
<integer>0</integer>
<key>finishParticleSize</key>
<integer>0</integer>
<key>duration</key>
<real>0.4</real>
<key>startColorVarianceRed</key>
<integer>0</integer>
<key>thumbnailFileName</key>
<string>788777B0-0CA3-4C93-B9B3-8E1CCF173C15</string>
<key>finishColorRed</key>
<integer>1</integer>
<key>gravityx</key>
<integer>0</integer>
<key>maxRadiusVariance</key>
<integer>0</integer>
<key>finishParticleSizeVariance</key>
<real>49.354038238525</real>
<key>gravityy</key>
<integer>0</integer>
<key>rotationEndVariance</key>
<integer>0</integer>
<key>startColorBlue</key>
<real>0.96020084619522</real>
<key>rotationStartVariance</key>
<integer>0</integer>
<key>speedVariance</key>
<integer>100</integer>
<key>radialAccelVariance</key>
<integer>0</integer>
<key>textureImageData</key>
<string>H4sIAAAAAAAAA41Tz0/aYBhuKQEsprRgmTQgbTGCIoWDJdYENPy4gAhEvVicTOUggQOuzB3EU4kelkDmIoexiGc8EO5y0nh05+n/4P6EtQizGpfsPTRP+nzf8z3v871fIgHMAAD0BfjfAtUanU6rBt/i1DCCGk0mI4rA6tccBKM4YbOTpN1G4Kj+Ja9FcCs1NcN4vYzbSVtxg05B6tBx0sWwXGBxMcCxXhdlwUaed6IEPTsXiMQSyVQiFgmwHgeBDXdDyDjNzIfiqxtbH7az/Fo8xDEOi2FwNoyTs/ORJL9bKAlCqZDjUxHOQ+H6fmtq1OqaCyU39z4eisfHYkXIb6bC7LQV0zxtpZlAnN/7JNbOvjfPauJBnl8O+mgzLCeEEFNsZHVXEL+etzudduu0KuTWo6yTQFSSJ9Q6w8U2Coe1887V9U2v06pXinx8wW3DJF8ao50JJLZK4ln76u7X/V2v3ajuZ1eCjN2klZIwkd7F5LZw3Oxc/3p8fLjtNk/KO+klLzWmG7CpPntz//hbYn/0WV+ffVLOlsSGpPzw8LN3OVAmZWUItbm5GF+o1Fqd3u1tr3tRPypmJFcTsiupIycbWcsJ4mnrstu9vPhWLUsd+V39juQ0vFIa+YNqvdFsNurVz/nM3zT6SbKh1GZeqFRPTqpH5fz7dNg/TBLQ45SHi6T4XHG/XN4v5jLpKOehzaNPAwYZLA6GCy+v89mdnWxmfTnMMZPE8AYBHUY4PGwwGl9Jp1fi0aDfM/l8+wAwglmoaR+7EFxaCi74fdM0gcHKwTLgVtrpZnw+ZlaaOvOLqZOM6zGzNLEURU4QZmz09USDGhjBTGNjJgyBNW89B5VaK78U1RvUP0puGpKlgQnpAyqwaoAlhyA0wKDsQYExQN3HUmOgUfEfV2CzQvPdcD0kglbFmtVnLNcfONGCcyIEAAA=</string>
<key>tangentialAccelVariance</key>
<integer>0</integer>
<key>particleLifespanVariance</key>
<integer>0</integer>
<key>angleVariance</key>
<integer>360</integer>
<key>angle</key>
<integer>0</integer>
<key>maxRadius</key>
<integer>0</integer>
<key>createdAt</key>
<real>1408324797.901</real>
<key>updatedAt</key>
<real>1408324797.901</real>
<key>objectId</key>
<string>53f154bd8b7959934d8b456b</string>
</dict></plist>