<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>
<key>startColorAlpha</key>
<integer>0</integer>
<key>startParticleSizeVariance</key>
<real>134.26</real>
<key>objectId</key>
<string>518655008b7959bc2d000078</string>
<key>startColorGreen</key>
<integer>1</integer>
<key>rotatePerSecond</key>
<integer>0</integer>
<key>uuid</key>
<string>38175ab34eb117853dbcdb2f1bebcb7e</string>
<key>radialAcceleration</key>
<real>265.01</real>
<key>emitterType</key>
<integer>0</integer>
<key>blendFuncSource</key>
<integer>1</integer>
<key>finishColorVarianceAlpha</key>
<real>0.29</real>
<key>description</key>
<string>Cloud</string>
<key>rotationEnd</key>
<integer>0</integer>
<key>startColorVarianceBlue</key>
<integer>0</integer>
<key>rotatePerSecondVariance</key>
<integer>0</integer>
<key>particleLifespan</key>
<real>6.5491</real>
<key>createdAt</key>
<real>1367758080.126</real>
<key>minRadius</key>
<integer>0</integer>
<key>tangentialAcceleration</key>
<integer>0</integer>
<key>startColorVarianceGreen</key>
<integer>0</integer>
<key>rotationStart</key>
<integer>0</integer>
<key>speed</key>
<real>411.24</real>
<key>minRadiusVariance</key>
<integer>0</integer>
<key>finishColorVarianceBlue</key>
<integer>0</integer>
<key>name</key>
<string>Cloud</string>
<key>finishColorBlue</key>
<integer>1</integer>
<key>finishColorGreen</key>
<integer>1</integer>
<key>blendFuncDestination</key>
<integer>771</integer>
<key>finishColorAlpha</key>
<integer>0</integer>
<key>sourcePositionVariancex</key>
<integer>175</integer>
<key>startParticleSize</key>
<real>322.42</real>
<key>sourcePositionVariancey</key>
<integer>56</integer>
<key>startColorRed</key>
<integer>1</integer>
<key>finishColorVarianceRed</key>
<integer>0</integer>
<key>startColorVarianceAlpha</key>
<real>0.19</real>
<key>maxParticles</key>
<integer>136</integer>
<key>finishColorVarianceGreen</key>
<integer>0</integer>
<key>finishParticleSize</key>
<real>490.37</real>
<key>duration</key>
<integer>-1</integer>
<key>startColorVarianceRed</key>
<integer>0</integer>
<key>thumbnailFileName</key>
<string>F4147201-8FF0-46B7-A642-02F8A79CF112</string>
<key>finishColorRed</key>
<integer>1</integer>
<key>gravityx</key>
<real>-364.21</real>
<key>maxRadiusVariance</key>
<integer>0</integer>
<key>finishParticleSizeVariance</key>
<real>110.58</real>
<key>gravityy</key>
<integer>0</integer>
<key>rotationEndVariance</key>
<real>-34.05</real>
<key>startColorBlue</key>
<integer>1</integer>
<key>speedVariance</key>
<real>170.33</real>
<key>rotationStartVariance</key>
<integer>30</integer>
<key>radialAccelVariance</key>
<real>41.32</real>
<key>textureFileName</key>
<string>pd390.png</string>
<key>tangentialAccelVariance</key>
<integer>0</integer>
<key>particleLifespanVariance</key>
<integer>0</integer>
<key>updatedAt</key>
<real>1396525412.715</real>
<key>angleVariance</key>
<real>36.36</real>
<key>angle</key>
<integer>180</integer>
<key>maxRadius</key>
<integer>100</integer>
<key>yCoordFlipped</key>
<integer>0</integer>
<key>sourcePositionx</key>
<real>320</real>
<key>sourcePositiony</key>
<real>482</real>
</dict></plist>