<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>
<key>startColorAlpha</key>
<integer>1</integer>
<key>startParticleSizeVariance</key>
<integer>10</integer>
<key>objectId</key>
<string>518655008b7959bc2d0000bf</string>
<key>startColorGreen</key>
<integer>1</integer>
<key>rotatePerSecond</key>
<integer>0</integer>
<key>uuid</key>
<string>6001339e445f335d6eb38f1806c07033</string>
<key>radialAcceleration</key>
<integer>0</integer>
<key>emitterType</key>
<integer>0</integer>
<key>blendFuncSource</key>
<integer>770</integer>
<key>finishColorVarianceAlpha</key>
<real>0.24</real>
<key>description</key>
<string>Subtle but effective and mostly realistic</string>
<key>rotationEnd</key>
<real>236.84</real>
<key>startColorVarianceBlue</key>
<integer>0</integer>
<key>rotatePerSecondVariance</key>
<integer>0</integer>
<key>particleLifespan</key>
<integer>9</integer>
<key>createdAt</key>
<real>1367758080.326</real>
<key>minRadius</key>
<integer>0</integer>
<key>tangentialAcceleration</key>
<integer>0</integer>
<key>startColorVarianceGreen</key>
<integer>0</integer>
<key>rotationStart</key>
<real>47.37</real>
<key>speed</key>
<integer>0</integer>
<key>minRadiusVariance</key>
<integer>0</integer>
<key>finishColorVarianceBlue</key>
<integer>0</integer>
<key>name</key>
<string>Coffee Steam</string>
<key>finishColorBlue</key>
<integer>1</integer>
<key>finishColorGreen</key>
<integer>1</integer>
<key>blendFuncDestination</key>
<integer>1</integer>
<key>finishColorAlpha</key>
<integer>1</integer>
<key>sourcePositionVariancex</key>
<integer>100</integer>
<key>startParticleSize</key>
<integer>5</integer>
<key>sourcePositionVariancey</key>
<integer>100</integer>
<key>startColorRed</key>
<integer>1</integer>
<key>finishColorVarianceRed</key>
<integer>0</integer>
<key>startColorVarianceAlpha</key>
<integer>0</integer>
<key>maxParticles</key>
<integer>100</integer>
<key>finishColorVarianceGreen</key>
<integer>0</integer>
<key>finishParticleSize</key>
<real>199.34</real>
<key>duration</key>
<integer>-1</integer>
<key>startColorVarianceRed</key>
<integer>0</integer>
<key>thumbnailFileName</key>
<string>98885474-0F6C-4AE5-9978-D64BD6768C74</string>
<key>finishColorRed</key>
<integer>1</integer>
<key>gravityx</key>
<integer>-4</integer>
<key>maxRadiusVariance</key>
<integer>0</integer>
<key>finishParticleSizeVariance</key>
<integer>10</integer>
<key>gravityy</key>
<integer>9</integer>
<key>rotationEndVariance</key>
<real>1063.94</real>
<key>startColorBlue</key>
<integer>1</integer>
<key>speedVariance</key>
<integer>0</integer>
<key>rotationStartVariance</key>
<integer>0</integer>
<key>radialAccelVariance</key>
<integer>0</integer>
<key>textureFileName</key>
<string>particleTexture.png</string>
<key>textureImageData</key>
<string>H4sIAAAAAAAAAwE5Asb9iVBORw0KGgoAAAANSUhEUgAAAB8AAAAgCAYAAADqgqNBAAACAElEQVRIDc3Wi66bMBCE4ab39v3ftZfTNt3PyliGmlxOQtSVVhBj9p9ZO8DheDy+eUUcJvfcXOj9pMjW0Nu6MOYoAPjPKrfq9PFr4IDvKj+c0rmxGfx3jb+c0jlBm3E403bFgT5VfqwED3QE13AL7tMBAn5W/qgkYrokW3AQsM+VwDo0A9bwNMB+VRLwvZKYf7owazswIDDX3N8ahK47RchCwBqem77WRAIIuScIZ0Id3SCgL8Ea7veXykeAq0yLdDL/BkvQYoSPm+tex6mfYwTYB0TYhIu2EvLaNVbrUsRcNxyHLtggLtyyqy8Bx+vqqo+D150Tkd1pfK9YcPygiBK5l+sq3WLBGuHOnxE4zWiAFO3tOsY667+AR9VTj3Gep88z4J0F7llroD9zd1bQeSP8GQICbqy03bPWc3dv9+rjLJ7tfnjbtME67hULTpxTBD794niQEq0Oo3U4cPW1wyfPHu1Pu1Mfr79YnMf9YoILD4gY47y5VrO/W08AawKeR+29r9jRsbqLPbWG00Dlt0o3+v4yZ1ye+nlVWOM4nnZz69NZdW+efMXmAyAdcX0riM6uBvXRuHCcG8/BzeGYc3BC0oWZCNC4BbS+nBubxiV4biJCJ8Ad/R6XAkByCOi4Ca1rLa6F9/l1kvfx6J7rMTP/7JGTWyIA96zht9Rpc/8C8qGaJuPbt/sAAAAASUVORK5CYIJbzqz3OQIAAA==</string>
<key>tangentialAccelVariance</key>
<integer>0</integer>
<key>particleLifespanVariance</key>
<real>0.3289</real>
<key>updatedAt</key>
<real>1396525342.715</real>
<key>angleVariance</key>
<real>203.04</real>
<key>angle</key>
<real>239.18</real>
<key>maxRadius</key>
<integer>100</integer>
<key>yCoordFlipped</key>
<integer>0</integer>
<key>sourcePositionx</key>
<real>320</real>
<key>sourcePositiony</key>
<real>482</real>
</dict></plist>