<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>
<key>startColorAlpha</key>
<integer>1</integer>
<key>startParticleSizeVariance</key>
<integer>0</integer>
<key>objectId</key>
<string>518654ff8b7959bc2d00003f</string>
<key>startColorGreen</key>
<integer>1</integer>
<key>rotatePerSecond</key>
<integer>0</integer>
<key>uuid</key>
<string>1ef88b8338f2487eee942a6b66fe4390</string>
<key>radialAcceleration</key>
<integer>0</integer>
<key>emitterType</key>
<integer>0</integer>
<key>blendFuncSource</key>
<integer>770</integer>
<key>finishColorVarianceAlpha</key>
<integer>0</integer>
<key>description</key>
<string>Dasc</string>
<key>rotationEnd</key>
<integer>0</integer>
<key>startColorVarianceBlue</key>
<integer>0</integer>
<key>rotatePerSecondVariance</key>
<integer>0</integer>
<key>particleLifespan</key>
<real>0.1821</real>
<key>createdAt</key>
<real>1367758079.941</real>
<key>minRadius</key>
<integer>0</integer>
<key>tangentialAcceleration</key>
<integer>0</integer>
<key>startColorVarianceGreen</key>
<integer>0</integer>
<key>rotationStart</key>
<integer>0</integer>
<key>speed</key>
<real>506.58</real>
<key>minRadiusVariance</key>
<integer>0</integer>
<key>finishColorVarianceBlue</key>
<integer>1</integer>
<key>name</key>
<string>Dash</string>
<key>finishColorBlue</key>
<integer>1</integer>
<key>finishColorGreen</key>
<integer>1</integer>
<key>blendFuncDestination</key>
<integer>1</integer>
<key>finishColorAlpha</key>
<real>0.66</real>
<key>sourcePositionVariancex</key>
<integer>0</integer>
<key>startParticleSize</key>
<real>9.68</real>
<key>sourcePositionVariancey</key>
<integer>0</integer>
<key>startColorRed</key>
<integer>1</integer>
<key>finishColorVarianceRed</key>
<integer>0</integer>
<key>startColorVarianceAlpha</key>
<integer>0</integer>
<key>maxParticles</key>
<integer>1671</integer>
<key>finishColorVarianceGreen</key>
<integer>0</integer>
<key>finishParticleSize</key>
<real>5.7</real>
<key>duration</key>
<integer>-1</integer>
<key>startColorVarianceRed</key>
<integer>0</integer>
<key>thumbnailFileName</key>
<string>0D524250-4082-4FD0-A5CB-5B7CF198B006</string>
<key>finishColorRed</key>
<integer>1</integer>
<key>gravityx</key>
<integer>0</integer>
<key>maxRadiusVariance</key>
<integer>0</integer>
<key>finishParticleSizeVariance</key>
<integer>0</integer>
<key>gravityy</key>
<integer>0</integer>
<key>rotationEndVariance</key>
<integer>0</integer>
<key>startColorBlue</key>
<integer>1</integer>
<key>speedVariance</key>
<integer>0</integer>
<key>rotationStartVariance</key>
<integer>0</integer>
<key>radialAccelVariance</key>
<integer>0</integer>
<key>textureFileName</key>
<string>pd4.tiff</string>
<key>tangentialAccelVariance</key>
<integer>0</integer>
<key>particleLifespanVariance</key>
<integer>0</integer>
<key>updatedAt</key>
<real>1396525466.715</real>
<key>angleVariance</key>
<integer>360</integer>
<key>angle</key>
<integer>0</integer>
<key>maxRadius</key>
<integer>100</integer>
<key>yCoordFlipped</key>
<integer>0</integer>
<key>sourcePositionx</key>
<real>320</real>
<key>sourcePositiony</key>
<real>482</real>
</dict></plist>