<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>
<key>startColorAlpha</key>
<integer>1</integer>
<key>startParticleSizeVariance</key>
<integer>0</integer>
<key>objectId</key>
<string>518655008b7959bc2d000075</string>
<key>startColorGreen</key>
<integer>1</integer>
<key>rotatePerSecond</key>
<integer>0</integer>
<key>uuid</key>
<string>358ebf6a9188a26dff23504916f6acf0</string>
<key>radialAcceleration</key>
<integer>0</integer>
<key>emitterType</key>
<integer>0</integer>
<key>blendFuncSource</key>
<integer>774</integer>
<key>finishColorVarianceAlpha</key>
<integer>1</integer>
<key>description</key>
<string>Dazed</string>
<key>rotationEnd</key>
<integer>0</integer>
<key>startColorVarianceBlue</key>
<integer>0</integer>
<key>rotatePerSecondVariance</key>
<integer>0</integer>
<key>particleLifespan</key>
<integer>0</integer>
<key>createdAt</key>
<real>1367758080.113</real>
<key>minRadius</key>
<integer>0</integer>
<key>tangentialAcceleration</key>
<integer>0</integer>
<key>startColorVarianceGreen</key>
<integer>0</integer>
<key>rotationStart</key>
<real>109.11</real>
<key>speed</key>
<real>19.74</real>
<key>minRadiusVariance</key>
<integer>0</integer>
<key>finishColorVarianceBlue</key>
<integer>0</integer>
<key>name</key>
<string>Dazed Stars3</string>
<key>finishColorBlue</key>
<integer>0</integer>
<key>finishColorGreen</key>
<integer>0</integer>
<key>blendFuncDestination</key>
<integer>1</integer>
<key>finishColorAlpha</key>
<integer>1</integer>
<key>sourcePositionVariancex</key>
<integer>0</integer>
<key>startParticleSize</key>
<real>3.37</real>
<key>sourcePositionVariancey</key>
<integer>0</integer>
<key>startColorRed</key>
<integer>1</integer>
<key>finishColorVarianceRed</key>
<integer>0</integer>
<key>startColorVarianceAlpha</key>
<integer>1</integer>
<key>maxParticles</key>
<integer>26</integer>
<key>finishColorVarianceGreen</key>
<integer>0</integer>
<key>finishParticleSize</key>
<real>16.84</real>
<key>duration</key>
<real>0.01</real>
<key>startColorVarianceRed</key>
<integer>0</integer>
<key>thumbnailFileName</key>
<string>26AAD465-0194-4857-BAB0-A5CE5CB8CAFE</string>
<key>finishColorRed</key>
<integer>0</integer>
<key>gravityx</key>
<real>1.15</real>
<key>maxRadiusVariance</key>
<integer>0</integer>
<key>finishParticleSizeVariance</key>
<integer>0</integer>
<key>gravityy</key>
<integer>0</integer>
<key>rotationEndVariance</key>
<integer>0</integer>
<key>startColorBlue</key>
<integer>1</integer>
<key>speedVariance</key>
<integer>0</integer>
<key>rotationStartVariance</key>
<integer>0</integer>
<key>radialAccelVariance</key>
<integer>0</integer>
<key>textureFileName</key>
<string>pd35.png</string>
<key>tangentialAccelVariance</key>
<integer>0</integer>
<key>particleLifespanVariance</key>
<real>0.9868</real>
<key>updatedAt</key>
<real>1396525415.715</real>
<key>angleVariance</key>
<integer>360</integer>
<key>angle</key>
<integer>360</integer>
<key>maxRadius</key>
<integer>100</integer>
<key>yCoordFlipped</key>
<integer>0</integer>
<key>sourcePositionx</key>
<real>320</real>
<key>sourcePositiony</key>
<real>482</real>
</dict></plist>