<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>
<key>startColorAlpha</key>
<integer>1</integer>
<key>startParticleSizeVariance</key>
<real>99.13</real>
<key>objectId</key>
<string>518655008b7959bc2d000060</string>
<key>startColorGreen</key>
<integer>0</integer>
<key>rotatePerSecond</key>
<integer>0</integer>
<key>uuid</key>
<string>2c5c5b6967e1e6578c3825f8da6466b2</string>
<key>radialAcceleration</key>
<integer>0</integer>
<key>emitterType</key>
<integer>0</integer>
<key>blendFuncSource</key>
<integer>770</integer>
<key>finishColorVarianceAlpha</key>
<integer>0</integer>
<key>description</key>
<string>erere</string>
<key>rotationEnd</key>
<integer>0</integer>
<key>startColorVarianceBlue</key>
<integer>0</integer>
<key>rotatePerSecondVariance</key>
<integer>0</integer>
<key>particleLifespan</key>
<real>1.0573</real>
<key>createdAt</key>
<real>1367758080.49</real>
<key>minRadius</key>
<integer>0</integer>
<key>tangentialAcceleration</key>
<integer>0</integer>
<key>startColorVarianceGreen</key>
<integer>0</integer>
<key>rotationStart</key>
<integer>0</integer>
<key>speed</key>
<real>719.16</real>
<key>minRadiusVariance</key>
<integer>0</integer>
<key>finishColorVarianceBlue</key>
<integer>0</integer>
<key>name</key>
<string>erer</string>
<key>finishColorBlue</key>
<integer>0</integer>
<key>finishColorGreen</key>
<integer>1</integer>
<key>blendFuncDestination</key>
<integer>1</integer>
<key>finishColorAlpha</key>
<integer>1</integer>
<key>sourcePositionVariancex</key>
<integer>43</integer>
<key>startParticleSize</key>
<real>90.95</real>
<key>sourcePositionVariancey</key>
<integer>28</integer>
<key>startColorRed</key>
<integer>1</integer>
<key>finishColorVarianceRed</key>
<integer>0</integer>
<key>startColorVarianceAlpha</key>
<integer>0</integer>
<key>maxParticles</key>
<integer>210</integer>
<key>finishColorVarianceGreen</key>
<integer>0</integer>
<key>finishParticleSize</key>
<real>18.74</real>
<key>duration</key>
<integer>-1</integer>
<key>startColorVarianceRed</key>
<integer>0</integer>
<key>thumbnailFileName</key>
<string>A3FB7F62-B1FE-4C90-8C0C-25E640722DB3</string>
<key>finishColorRed</key>
<integer>1</integer>
<key>gravityx</key>
<integer>0</integer>
<key>maxRadiusVariance</key>
<integer>0</integer>
<key>finishParticleSizeVariance</key>
<integer>0</integer>
<key>gravityy</key>
<integer>-750</integer>
<key>rotationEndVariance</key>
<integer>0</integer>
<key>startColorBlue</key>
<real>0.15</real>
<key>speedVariance</key>
<real>418.28</real>
<key>rotationStartVariance</key>
<integer>0</integer>
<key>radialAccelVariance</key>
<integer>0</integer>
<key>textureFileName</key>
<string>pd4.tiff</string>
<key>tangentialAccelVariance</key>
<integer>0</integer>
<key>particleLifespanVariance</key>
<real>0.8553</real>
<key>updatedAt</key>
<real>1396525434.715</real>
<key>angleVariance</key>
<integer>10</integer>
<key>angle</key>
<integer>90</integer>
<key>maxRadius</key>
<integer>100</integer>
<key>yCoordFlipped</key>
<integer>0</integer>
<key>sourcePositionx</key>
<real>320</real>
<key>sourcePositiony</key>
<real>482</real>
</dict></plist>