<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>
<key>startColorAlpha</key>
<integer>1</integer>
<key>startParticleSizeVariance</key>
<real>76.05</real>
<key>objectId</key>
<string>518655008b7959bc2d000093</string>
<key>startColorGreen</key>
<integer>1</integer>
<key>rotatePerSecond</key>
<real>35.53</real>
<key>uuid</key>
<string>407c496a258288b670a9e107ed9da8a0</string>
<key>radialAcceleration</key>
<real>490.85</real>
<key>emitterType</key>
<integer>0</integer>
<key>blendFuncSource</key>
<integer>1</integer>
<key>finishColorVarianceAlpha</key>
<integer>0</integer>
<key>description</key>
<string>fd</string>
<key>rotationEnd</key>
<integer>0</integer>
<key>startColorVarianceBlue</key>
<integer>0</integer>
<key>rotatePerSecondVariance</key>
<integer>0</integer>
<key>particleLifespan</key>
<integer>10</integer>
<key>createdAt</key>
<real>1367758080.194</real>
<key>minRadius</key>
<integer>0</integer>
<key>tangentialAcceleration</key>
<real>437.09</real>
<key>startColorVarianceGreen</key>
<integer>0</integer>
<key>rotationStart</key>
<real>1393.3</real>
<key>speed</key>
<real>640.21</real>
<key>minRadiusVariance</key>
<integer>0</integer>
<key>finishColorVarianceBlue</key>
<real>0.83</real>
<key>name</key>
<string>dd</string>
<key>finishColorBlue</key>
<integer>0</integer>
<key>finishColorGreen</key>
<integer>0</integer>
<key>blendFuncDestination</key>
<integer>0</integer>
<key>finishColorAlpha</key>
<integer>0</integer>
<key>sourcePositionVariancex</key>
<integer>-64</integer>
<key>startParticleSize</key>
<integer>42</integer>
<key>sourcePositionVariancey</key>
<integer>111</integer>
<key>startColorRed</key>
<integer>1</integer>
<key>finishColorVarianceRed</key>
<real>0.94</real>
<key>startColorVarianceAlpha</key>
<integer>0</integer>
<key>maxParticles</key>
<integer>282</integer>
<key>finishColorVarianceGreen</key>
<real>0.98</real>
<key>finishParticleSize</key>
<integer>0</integer>
<key>duration</key>
<integer>-1</integer>
<key>startColorVarianceRed</key>
<integer>0</integer>
<key>thumbnailFileName</key>
<string>C2CB6847-FB8F-4385-A095-74F78D470515</string>
<key>finishColorRed</key>
<integer>0</integer>
<key>gravityx</key>
<integer>0</integer>
<key>maxRadiusVariance</key>
<real>154.95</real>
<key>finishParticleSizeVariance</key>
<integer>0</integer>
<key>gravityy</key>
<integer>0</integer>
<key>rotationEndVariance</key>
<real>3221.05</real>
<key>startColorBlue</key>
<integer>1</integer>
<key>speedVariance</key>
<integer>10</integer>
<key>rotationStartVariance</key>
<real>339.35</real>
<key>radialAccelVariance</key>
<real>717.41</real>
<key>textureFileName</key>
<string>pd416.png</string>
<key>tangentialAccelVariance</key>
<real>-66.3</real>
<key>particleLifespanVariance</key>
<real>2.3499</real>
<key>updatedAt</key>
<real>1396525386.715</real>
<key>angleVariance</key>
<real>263.54</real>
<key>angle</key>
<integer>0</integer>
<key>maxRadius</key>
<real>276.21</real>
<key>yCoordFlipped</key>
<integer>0</integer>
<key>sourcePositionx</key>
<real>320</real>
<key>sourcePositiony</key>
<real>482</real>
</dict></plist>