<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>
<key>startColorAlpha</key>
<integer>1</integer>
<key>startParticleSizeVariance</key>
<integer>0</integer>
<key>startColorGreen</key>
<real>0.14913141727448</real>
<key>rotatePerSecond</key>
<integer>0</integer>
<key>radialAcceleration</key>
<integer>0</integer>
<key>emitterType</key>
<integer>1</integer>
<key>blendFuncSource</key>
<integer>770</integer>
<key>finishColorVarianceAlpha</key>
<integer>1</integer>
<key>description</key>
<string>fff</string>
<key>rotationEnd</key>
<integer>0</integer>
<key>startColorVarianceBlue</key>
<real>0.2</real>
<key>rotatePerSecondVariance</key>
<real>116.7594</real>
<key>particleLifespan</key>
<real>0.2</real>
<key>minRadius</key>
<real>203.1518</real>
<key>tangentialAcceleration</key>
<integer>0</integer>
<key>startColorVarianceGreen</key>
<real>0.2</real>
<key>rotationStart</key>
<integer>0</integer>
<key>speed</key>
<integer>0</integer>
<key>minRadiusVariance</key>
<integer>10</integer>
<key>finishColorVarianceBlue</key>
<integer>0</integer>
<key>name</key>
<string>ffff</string>
<key>finishColorBlue</key>
<integer>0</integer>
<key>finishColorGreen</key>
<real>0.022810660302639</real>
<key>blendFuncDestination</key>
<integer>1</integer>
<key>finishColorAlpha</key>
<integer>1</integer>
<key>sourcePositionVariancex</key>
<integer>0</integer>
<key>startParticleSize</key>
<real>83.0274</real>
<key>sourcePositionVariancey</key>
<integer>0</integer>
<key>startColorRed</key>
<integer>1</integer>
<key>finishColorVarianceRed</key>
<integer>0</integer>
<key>startColorVarianceAlpha</key>
<real>0.5</real>
<key>maxParticles</key>
<integer>589</integer>
<key>finishColorVarianceGreen</key>
<integer>0</integer>
<key>finishParticleSize</key>
<real>45.71233</real>
<key>duration</key>
<integer>-1</integer>
<key>startColorVarianceRed</key>
<integer>0</integer>
<key>thumbnailFileName</key>
<string>EB58084E-12C6-4E2D-996F-DE5BB7AC0D52</string>
<key>finishColorRed</key>
<real>0.28117990493774</real>
<key>gravityx</key>
<integer>-70</integer>
<key>maxRadiusVariance</key>
<integer>0</integer>
<key>finishParticleSizeVariance</key>
<integer>0</integer>
<key>gravityy</key>
<integer>0</integer>
<key>rotationEndVariance</key>
<integer>0</integer>
<key>startColorBlue</key>
<integer>0</integer>
<key>rotationStartVariance</key>
<integer>0</integer>
<key>speedVariance</key>
<integer>0</integer>
<key>radialAccelVariance</key>
<integer>0</integer>
<key>textureFileName</key>
<string>pd4.tiff</string>
<key>tangentialAccelVariance</key>
<integer>0</integer>
<key>particleLifespanVariance</key>
<integer>0</integer>
<key>angleVariance</key>
<real>51.19302</real>
<key>angle</key>
<integer>90</integer>
<key>maxRadius</key>
<real>243.8731</real>
<key>createdAt</key>
<real>1411539999.203</real>
<key>updatedAt</key>
<real>1411539999.203</real>
<key>objectId</key>
<string>5422641f8b7959d4158b4567</string>
<key>sourcePositionx</key>
<real>320</real>
<key>sourcePositiony</key>
<real>482</real>
</dict></plist>