<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>
<key>startColorAlpha</key>
<integer>1</integer>
<key>startParticleSizeVariance</key>
<real>6.05</real>
<key>objectId</key>
<string>518654ff8b7959bc2d000023</string>
<key>startColorGreen</key>
<integer>1</integer>
<key>rotatePerSecond</key>
<integer>0</integer>
<key>uuid</key>
<string>0f28c55c43528b60435af36972be87a3</string>
<key>radialAcceleration</key>
<integer>0</integer>
<key>emitterType</key>
<integer>0</integer>
<key>blendFuncSource</key>
<integer>1</integer>
<key>finishColorVarianceAlpha</key>
<integer>1</integer>
<key>description</key>
<string>fierfly</string>
<key>rotationEnd</key>
<integer>0</integer>
<key>startColorVarianceBlue</key>
<real>0.2</real>
<key>rotatePerSecondVariance</key>
<integer>0</integer>
<key>particleLifespan</key>
<real>2.0194</real>
<key>createdAt</key>
<real>1367758079.851</real>
<key>minRadius</key>
<integer>0</integer>
<key>tangentialAcceleration</key>
<integer>0</integer>
<key>startColorVarianceGreen</key>
<real>0.25</real>
<key>rotationStart</key>
<integer>0</integer>
<key>speed</key>
<integer>0</integer>
<key>minRadiusVariance</key>
<integer>0</integer>
<key>finishColorVarianceBlue</key>
<integer>0</integer>
<key>name</key>
<string>BP_Firefly_FINAL</string>
<key>finishColorBlue</key>
<real>0.77</real>
<key>finishColorGreen</key>
<integer>1</integer>
<key>blendFuncDestination</key>
<integer>1</integer>
<key>finishColorAlpha</key>
<real>0.08</real>
<key>sourcePositionVariancex</key>
<integer>384</integer>
<key>startParticleSize</key>
<real>2.45</real>
<key>sourcePositionVariancey</key>
<integer>240</integer>
<key>startColorRed</key>
<integer>1</integer>
<key>finishColorVarianceRed</key>
<integer>0</integer>
<key>startColorVarianceAlpha</key>
<real>0.29</real>
<key>maxParticles</key>
<integer>5</integer>
<key>finishColorVarianceGreen</key>
<real>0.46</real>
<key>finishParticleSize</key>
<real>4.61</real>
<key>duration</key>
<integer>-1</integer>
<key>startColorVarianceRed</key>
<real>0.2</real>
<key>thumbnailFileName</key>
<string>75CBE791-F845-48F3-8DF4-DE9F9AB2B220</string>
<key>finishColorRed</key>
<integer>1</integer>
<key>gravityx</key>
<integer>0</integer>
<key>maxRadiusVariance</key>
<integer>0</integer>
<key>finishParticleSizeVariance</key>
<integer>0</integer>
<key>gravityy</key>
<integer>0</integer>
<key>rotationEndVariance</key>
<integer>0</integer>
<key>startColorBlue</key>
<integer>1</integer>
<key>speedVariance</key>
<real>90.31</real>
<key>rotationStartVariance</key>
<integer>0</integer>
<key>radialAccelVariance</key>
<integer>0</integer>
<key>textureFileName</key>
<string>pd311.png</string>
<key>tangentialAccelVariance</key>
<integer>0</integer>
<key>particleLifespanVariance</key>
<real>3.7628</real>
<key>updatedAt</key>
<real>1396525491.715</real>
<key>angleVariance</key>
<integer>360</integer>
<key>angle</key>
<integer>0</integer>
<key>maxRadius</key>
<integer>100</integer>
<key>yCoordFlipped</key>
<integer>0</integer>
<key>sourcePositionx</key>
<real>320</real>
<key>sourcePositiony</key>
<real>482</real>
</dict></plist>