<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>
<key>startColorAlpha</key>
<integer>1</integer>
<key>startParticleSizeVariance</key>
<integer>10</integer>
<key>startColorGreen</key>
<real>0.5159582</real>
<key>rotatePerSecond</key>
<integer>0</integer>
<key>radialAcceleration</key>
<real>52.65405</real>
<key>emitterType</key>
<integer>0</integer>
<key>blendFuncSource</key>
<integer>770</integer>
<key>finishColorVarianceAlpha</key>
<integer>0</integer>
<key>description</key>
<string>fire_nimeia_02</string>
<key>rotationEnd</key>
<integer>0</integer>
<key>startColorVarianceBlue</key>
<integer>0</integer>
<key>rotatePerSecondVariance</key>
<integer>0</integer>
<key>particleLifespan</key>
<real>0.2451346</real>
<key>minRadius</key>
<integer>0</integer>
<key>tangentialAcceleration</key>
<integer>0</integer>
<key>startColorVarianceGreen</key>
<integer>0</integer>
<key>rotationStart</key>
<integer>0</integer>
<key>speed</key>
<integer>0</integer>
<key>minRadiusVariance</key>
<integer>0</integer>
<key>finishColorVarianceBlue</key>
<integer>0</integer>
<key>name</key>
<string>fire_nimeia_01</string>
<key>finishColorBlue</key>
<real>0.1853691</real>
<key>finishColorGreen</key>
<real>0.4289975</real>
<key>blendFuncDestination</key>
<integer>772</integer>
<key>finishColorAlpha</key>
<real>0.64</real>
<key>sourcePositionVariancex</key>
<integer>89</integer>
<key>startParticleSize</key>
<integer>30</integer>
<key>sourcePositionVariancey</key>
<integer>0</integer>
<key>startColorRed</key>
<real>0.9688517</real>
<key>finishColorVarianceRed</key>
<integer>0</integer>
<key>startColorVarianceAlpha</key>
<real>0.5098191</real>
<key>maxParticles</key>
<integer>423</integer>
<key>finishColorVarianceGreen</key>
<integer>0</integer>
<key>finishParticleSize</key>
<real>19.39726</real>
<key>duration</key>
<integer>-1</integer>
<key>startColorVarianceRed</key>
<real>0.2001819</real>
<key>thumbnailFileName</key>
<string>46CFB5F3-F4DF-4B62-8E9C-9B82EEF2015E</string>
<key>finishColorRed</key>
<real>0.828324</real>
<key>gravityx</key>
<integer>0</integer>
<key>maxRadiusVariance</key>
<integer>3</integer>
<key>finishParticleSizeVariance</key>
<integer>10</integer>
<key>gravityy</key>
<real>291.6311</real>
<key>rotationEndVariance</key>
<integer>0</integer>
<key>startColorBlue</key>
<real>0.1064242</real>
<key>rotationStartVariance</key>
<integer>0</integer>
<key>speedVariance</key>
<integer>0</integer>
<key>radialAccelVariance</key>
<integer>0</integer>
<key>textureFileName</key>
<string>pd4.tiff</string>
<key>tangentialAccelVariance</key>
<integer>0</integer>
<key>particleLifespanVariance</key>
<real>0.4122967</real>
<key>angleVariance</key>
<integer>360</integer>
<key>angle</key>
<integer>0</integer>
<key>maxRadius</key>
<integer>3</integer>
<key>createdAt</key>
<real>1408530377.663</real>
<key>updatedAt</key>
<real>1408530377.663</real>
<key>objectId</key>
<string>53f477c98b795970358b4567</string>
<key>sourcePositionx</key>
<real>320</real>
<key>sourcePositiony</key>
<real>482</real>
</dict></plist>