<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>
<key>startColorAlpha</key>
<integer>1</integer>
<key>startParticleSizeVariance</key>
<real>23.58</real>
<key>objectId</key>
<string>518655018b7959bc2d0001b9</string>
<key>startColorGreen</key>
<real>0.06</real>
<key>rotatePerSecond</key>
<integer>0</integer>
<key>uuid</key>
<string>daf226ae6c24c0659d3d9bd3f25a6965</string>
<key>radialAcceleration</key>
<real>1.84</real>
<key>emitterType</key>
<integer>0</integer>
<key>blendFuncSource</key>
<integer>770</integer>
<key>finishColorVarianceAlpha</key>
<real>0.17</real>
<key>description</key>
<string>fjaljflajklfa</string>
<key>rotationEnd</key>
<integer>0</integer>
<key>startColorVarianceBlue</key>
<real>0.86</real>
<key>rotatePerSecondVariance</key>
<integer>0</integer>
<key>particleLifespan</key>
<real>2.5853</real>
<key>createdAt</key>
<real>1367758081.271</real>
<key>minRadius</key>
<integer>0</integer>
<key>tangentialAcceleration</key>
<integer>0</integer>
<key>startColorVarianceGreen</key>
<real>0.18</real>
<key>rotationStart</key>
<integer>0</integer>
<key>speed</key>
<integer>0</integer>
<key>minRadiusVariance</key>
<integer>0</integer>
<key>finishColorVarianceBlue</key>
<real>0.63</real>
<key>name</key>
<string>fjlajfla</string>
<key>finishColorBlue</key>
<real>0.31</real>
<key>finishColorGreen</key>
<real>0.1</real>
<key>blendFuncDestination</key>
<integer>771</integer>
<key>finishColorAlpha</key>
<real>0.46</real>
<key>sourcePositionVariancex</key>
<integer>25</integer>
<key>startParticleSize</key>
<integer>0</integer>
<key>sourcePositionVariancey</key>
<integer>0</integer>
<key>startColorRed</key>
<integer>0</integer>
<key>finishColorVarianceRed</key>
<integer>0</integer>
<key>startColorVarianceAlpha</key>
<real>0.9</real>
<key>maxParticles</key>
<integer>10</integer>
<key>finishColorVarianceGreen</key>
<real>0.13</real>
<key>finishParticleSize</key>
<integer>32</integer>
<key>duration</key>
<integer>-1</integer>
<key>startColorVarianceRed</key>
<real>0.14</real>
<key>thumbnailFileName</key>
<string>CF00EBF3-F193-4D30-A7A6-8517A236265E</string>
<key>finishColorRed</key>
<real>0.56</real>
<key>gravityx</key>
<integer>0</integer>
<key>maxRadiusVariance</key>
<integer>0</integer>
<key>finishParticleSizeVariance</key>
<integer>0</integer>
<key>gravityy</key>
<real>39.47</real>
<key>rotationEndVariance</key>
<real>-288.65</real>
<key>startColorBlue</key>
<real>0.94</real>
<key>speedVariance</key>
<integer>22</integer>
<key>rotationStartVariance</key>
<integer>0</integer>
<key>radialAccelVariance</key>
<integer>0</integer>
<key>textureFileName</key>
<string>pd23.png</string>
<key>tangentialAccelVariance</key>
<integer>0</integer>
<key>particleLifespanVariance</key>
<real>0.1974</real>
<key>updatedAt</key>
<real>1396525639.715</real>
<key>angleVariance</key>
<integer>0</integer>
<key>angle</key>
<integer>0</integer>
<key>maxRadius</key>
<integer>100</integer>
<key>yCoordFlipped</key>
<integer>0</integer>
<key>sourcePositionx</key>
<real>320</real>
<key>sourcePositiony</key>
<real>482</real>
</dict></plist>