<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>
<key>startColorAlpha</key>
<real>0.69999998807907</real>
<key>startParticleSizeVariance</key>
<real>1.7105262279511</real>
<key>startColorGreen</key>
<integer>1</integer>
<key>rotatePerSecond</key>
<integer>0</integer>
<key>radialAcceleration</key>
<real>-13.159999847412</real>
<key>emitterType</key>
<integer>0</integer>
<key>blendFuncSource</key>
<integer>770</integer>
<key>finishColorVarianceAlpha</key>
<integer>0</integer>
<key>description</key>
<string>flush</string>
<key>rotationEnd</key>
<integer>0</integer>
<key>startColorVarianceBlue</key>
<integer>0</integer>
<key>rotatePerSecondVariance</key>
<integer>0</integer>
<key>particleLifespan</key>
<real>0.72369998693466</real>
<key>minRadius</key>
<integer>0</integer>
<key>tangentialAcceleration</key>
<real>197.36999511719</real>
<key>startColorVarianceGreen</key>
<integer>0</integer>
<key>rotationStart</key>
<integer>0</integer>
<key>speed</key>
<real>440.79000854492</real>
<key>minRadiusVariance</key>
<integer>0</integer>
<key>finishColorVarianceBlue</key>
<integer>0</integer>
<key>name</key>
<string>flush</string>
<key>finishColorBlue</key>
<real>0.4150390625</real>
<key>finishColorGreen</key>
<real>0.49479165673256</real>
<key>blendFuncDestination</key>
<integer>1</integer>
<key>finishColorAlpha</key>
<integer>1</integer>
<key>sourcePositionVariancex</key>
<integer>7</integer>
<key>startParticleSize</key>
<integer>8</integer>
<key>sourcePositionVariancey</key>
<integer>7</integer>
<key>startColorRed</key>
<integer>1</integer>
<key>finishColorVarianceRed</key>
<integer>0</integer>
<key>startColorVarianceAlpha</key>
<real>0.51999998092651</real>
<key>maxParticles</key>
<integer>389</integer>
<key>finishColorVarianceGreen</key>
<integer>0</integer>
<key>finishParticleSize</key>
<integer>6</integer>
<key>duration</key>
<real>0.27000004053116</real>
<key>startColorVarianceRed</key>
<integer>0</integer>
<key>thumbnailFileName</key>
<string>0D45136D-F6F3-4515-92F9-AE2794AF87DF</string>
<key>finishColorRed</key>
<integer>1</integer>
<key>gravityx</key>
<real>0.12999999523163</real>
<key>maxRadiusVariance</key>
<integer>0</integer>
<key>finishParticleSizeVariance</key>
<integer>0</integer>
<key>gravityy</key>
<real>-598.88983154297</real>
<key>rotationEndVariance</key>
<integer>3600</integer>
<key>startColorBlue</key>
<real>0.61897784471512</real>
<key>rotationStartVariance</key>
<integer>0</integer>
<key>speedVariance</key>
<real>230.25999450684</real>
<key>radialAccelVariance</key>
<real>223.67999267578</real>
<key>textureFileName</key>
<string>pd126.tiff</string>
<key>tangentialAccelVariance</key>
<integer>250</integer>
<key>particleLifespanVariance</key>
<real>1.25</real>
<key>angleVariance</key>
<integer>21</integer>
<key>angle</key>
<integer>21</integer>
<key>maxRadius</key>
<integer>100</integer>
<key>createdAt</key>
<real>1392511913.845</real>
<key>updatedAt</key>
<real>1396525542.715</real>
<key>yCoordFlipped</key>
<integer>0</integer>
<key>objectId</key>
<string>53000ba98b7959885b8b4567</string>
<key>sourcePositionx</key>
<real>320</real>
<key>sourcePositiony</key>
<real>482</real>
</dict></plist>