<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>
<key>startColorAlpha</key>
<real>0.98</real>
<key>startParticleSizeVariance</key>
<integer>54</integer>
<key>objectId</key>
<string>518655008b7959bc2d000059</string>
<key>startColorGreen</key>
<real>0.9</real>
<key>rotatePerSecond</key>
<integer>0</integer>
<key>uuid</key>
<string>2b0d4b7b5f42e613b138841bfe5ab322</string>
<key>radialAcceleration</key>
<integer>0</integer>
<key>emitterType</key>
<integer>0</integer>
<key>blendFuncSource</key>
<integer>770</integer>
<key>finishColorVarianceAlpha</key>
<real>0.24</real>
<key>description</key>
<string>GreenPlosion</string>
<key>rotationEnd</key>
<integer>0</integer>
<key>startColorVarianceBlue</key>
<real>0.64</real>
<key>rotatePerSecondVariance</key>
<integer>0</integer>
<key>particleLifespan</key>
<integer>0</integer>
<key>createdAt</key>
<real>1367758080.25</real>
<key>minRadius</key>
<integer>0</integer>
<key>tangentialAcceleration</key>
<integer>0</integer>
<key>startColorVarianceGreen</key>
<real>0.49</real>
<key>rotationStart</key>
<integer>0</integer>
<key>speed</key>
<integer>343</integer>
<key>minRadiusVariance</key>
<integer>0</integer>
<key>finishColorVarianceBlue</key>
<real>0.04</real>
<key>name</key>
<string>GreenPlosion</string>
<key>finishColorBlue</key>
<real>0.8</real>
<key>finishColorGreen</key>
<real>0.19</real>
<key>blendFuncDestination</key>
<integer>1</integer>
<key>finishColorAlpha</key>
<real>0.27</real>
<key>sourcePositionVariancex</key>
<integer>83</integer>
<key>startParticleSize</key>
<integer>25</integer>
<key>sourcePositionVariancey</key>
<integer>4</integer>
<key>startColorRed</key>
<real>0.1</real>
<key>finishColorVarianceRed</key>
<real>0.94</real>
<key>startColorVarianceAlpha</key>
<real>0.03</real>
<key>maxParticles</key>
<integer>1513</integer>
<key>finishColorVarianceGreen</key>
<real>0.02</real>
<key>finishParticleSize</key>
<integer>22</integer>
<key>duration</key>
<integer>-1</integer>
<key>startColorVarianceRed</key>
<real>0.58</real>
<key>thumbnailFileName</key>
<string>561044AC-6CBC-42B3-8D65-03AAFCCA39D0</string>
<key>finishColorRed</key>
<real>0.28</real>
<key>gravityx</key>
<real>0.54</real>
<key>maxRadiusVariance</key>
<integer>0</integer>
<key>finishParticleSizeVariance</key>
<integer>0</integer>
<key>gravityy</key>
<real>1.14</real>
<key>rotationEndVariance</key>
<integer>0</integer>
<key>startColorBlue</key>
<real>0.03</real>
<key>speedVariance</key>
<integer>150</integer>
<key>rotationStartVariance</key>
<integer>0</integer>
<key>radialAccelVariance</key>
<integer>0</integer>
<key>textureFileName</key>
<string>pd4.tiff</string>
<key>tangentialAccelVariance</key>
<integer>0</integer>
<key>particleLifespanVariance</key>
<integer>8</integer>
<key>updatedAt</key>
<real>1396525440.715</real>
<key>angleVariance</key>
<integer>226</integer>
<key>angle</key>
<integer>24</integer>
<key>maxRadius</key>
<integer>100</integer>
<key>yCoordFlipped</key>
<integer>0</integer>
<key>sourcePositionx</key>
<real>320</real>
<key>sourcePositiony</key>
<real>482</real>
</dict></plist>