<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>
<key>startColorAlpha</key>
<integer>1</integer>
<key>startParticleSizeVariance</key>
<real>16.42</real>
<key>objectId</key>
<string>518655018b7959bc2d0001db</string>
<key>startColorGreen</key>
<integer>1</integer>
<key>rotatePerSecond</key>
<integer>0</integer>
<key>uuid</key>
<string>ed970ab99f96c4f4165314d39ce5d9f1</string>
<key>radialAcceleration</key>
<integer>0</integer>
<key>emitterType</key>
<integer>0</integer>
<key>blendFuncSource</key>
<integer>770</integer>
<key>finishColorVarianceAlpha</key>
<real>0.24</real>
<key>description</key>
<string>05</string>
<key>rotationEnd</key>
<integer>0</integer>
<key>startColorVarianceBlue</key>
<integer>0</integer>
<key>rotatePerSecondVariance</key>
<integer>0</integer>
<key>particleLifespan</key>
<integer>0</integer>
<key>createdAt</key>
<real>1367758081.421</real>
<key>minRadius</key>
<integer>0</integer>
<key>tangentialAcceleration</key>
<integer>0</integer>
<key>startColorVarianceGreen</key>
<integer>0</integer>
<key>rotationStart</key>
<integer>0</integer>
<key>speed</key>
<real>32.89</real>
<key>minRadiusVariance</key>
<integer>0</integer>
<key>finishColorVarianceBlue</key>
<integer>0</integer>
<key>name</key>
<string>leap05</string>
<key>finishColorBlue</key>
<real>0.91</real>
<key>finishColorGreen</key>
<integer>1</integer>
<key>blendFuncDestination</key>
<integer>1</integer>
<key>finishColorAlpha</key>
<real>0.19</real>
<key>sourcePositionVariancex</key>
<integer>164</integer>
<key>startParticleSize</key>
<real>29.89</real>
<key>sourcePositionVariancey</key>
<integer>6</integer>
<key>startColorRed</key>
<integer>1</integer>
<key>finishColorVarianceRed</key>
<integer>0</integer>
<key>startColorVarianceAlpha</key>
<integer>0</integer>
<key>maxParticles</key>
<integer>10</integer>
<key>finishColorVarianceGreen</key>
<integer>0</integer>
<key>finishParticleSize</key>
<real>11.84</real>
<key>duration</key>
<integer>-1</integer>
<key>startColorVarianceRed</key>
<integer>0</integer>
<key>thumbnailFileName</key>
<string>8EDE5E6F-A046-4CA0-B85B-4A976DF61F90</string>
<key>finishColorRed</key>
<real>0.91</real>
<key>gravityx</key>
<real>355.26</real>
<key>maxRadiusVariance</key>
<integer>0</integer>
<key>finishParticleSizeVariance</key>
<integer>0</integer>
<key>gravityy</key>
<integer>0</integer>
<key>rotationEndVariance</key>
<integer>0</integer>
<key>startColorBlue</key>
<integer>1</integer>
<key>speedVariance</key>
<real>506.58</real>
<key>rotationStartVariance</key>
<integer>0</integer>
<key>radialAccelVariance</key>
<integer>0</integer>
<key>textureFileName</key>
<string>particleTexture.png</string>
<key>textureImageData</key>
<string>H4sIAAAAAAAAAwGWAmn9iVBORw0KGgoAAAANSUhEUgAAABQAAAAVCAYAAABG1c6oAAACXUlEQVQ4jZWUsU5UQRSGv5kz995d9u6ywMaoSCRLrIHSwoTYGEPhNmtiYgK+Ab4BvgG+AdY2WCy2W9hZuNQmZukxQoyxYedYzHB3gQvISSaTnLnz3f/8c3IMZdFrbQArwID1ow+l31wR7or8bty3bwMDMKXZXusbQWEHOAbW4smxgT1dPzq8LXAjqtyLUEyxFDHsiGH77/OfJ9cDe61lYAtYPFM1CbIGxICgOMMwMdo5evbroBzYa72Iis4diFEsBFgA4YySGEitklnd/P705MP5e73WNDAEmpNqLoISozgLqVFSo2RWqVioWu18efL7E4Q7AJsGmhZFzPhyapWKUapWmRKlJkpdPA3xTDtlxikzzjPrRruvv1aXIbaNoJsmKhKjiKGAJnHPrJIVqsY/mbJKLtrMxe8CqwYg259TG5VJAVLSsU9UTCmIXDy5KA3xNES3Tf55dtkYBm5CTWIIiqKaAhRhufURFkHOUxPFwbHLrDal8IxzZV0CiSe3St156qJMi2dKgkWxK5quJqHUNJaURUjxEDb8PS8eJKiKoH581MW4cA1R3IQ/F0H1qCyUFs5l3L39bpt3k43tms6TGqUaja6Jp2YDqC6euguqqjb05k3hGs4P84mycgn+NOJe+U/QWdj9x38O76aee+mI+2EN59PR1p0k+HQDbHgJCLCQnfYXshEPstPjVuI7G4/0vTHFTLwuBqXA+Wy0N+f8oGJZebXEAUC3zRtg5zp13TYHF5MWIDHsvlxitdvm3ODstnlLGGP9EuBeSe6KAVsSH3/wkDAr1wjTfPGiAIB/Os/mClc4FD8AAAAASUVORK5CYIKt2OPMlgIAAA==</string>
<key>tangentialAccelVariance</key>
<integer>0</integer>
<key>particleLifespanVariance</key>
<real>2.1711</real>
<key>updatedAt</key>
<real>1396525095.715</real>
<key>angleVariance</key>
<real>27.12</real>
<key>angle</key>
<real>239.18</real>
<key>maxRadius</key>
<integer>100</integer>
<key>yCoordFlipped</key>
<integer>0</integer>
<key>sourcePositionx</key>
<real>320</real>
<key>sourcePositiony</key>
<real>482</real>
</dict></plist>