<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>
<key>startColorAlpha</key>
<real>0.56</real>
<key>startParticleSizeVariance</key>
<integer>3</integer>
<key>objectId</key>
<string>518654ff8b7959bc2d00002a</string>
<key>startColorGreen</key>
<integer>1</integer>
<key>rotatePerSecond</key>
<integer>0</integer>
<key>uuid</key>
<string>13945a6097af07a0012a23b5de1f5e10</string>
<key>radialAcceleration</key>
<integer>0</integer>
<key>emitterType</key>
<integer>0</integer>
<key>blendFuncSource</key>
<integer>770</integer>
<key>finishColorVarianceAlpha</key>
<integer>0</integer>
<key>description</key>
<string>rain</string>
<key>rotationEnd</key>
<integer>-37</integer>
<key>startColorVarianceBlue</key>
<integer>0</integer>
<key>rotatePerSecondVariance</key>
<integer>0</integer>
<key>particleLifespan</key>
<real>2.0395</real>
<key>createdAt</key>
<real>1367758079.868</real>
<key>minRadius</key>
<integer>0</integer>
<key>tangentialAcceleration</key>
<integer>0</integer>
<key>startColorVarianceGreen</key>
<integer>0</integer>
<key>rotationStart</key>
<integer>-37</integer>
<key>speed</key>
<real>412.84</real>
<key>minRadiusVariance</key>
<integer>0</integer>
<key>finishColorVarianceBlue</key>
<integer>0</integer>
<key>name</key>
<string>lee</string>
<key>finishColorBlue</key>
<integer>1</integer>
<key>finishColorGreen</key>
<integer>1</integer>
<key>blendFuncDestination</key>
<integer>771</integer>
<key>finishColorAlpha</key>
<real>0.6</real>
<key>sourcePositionVariancex</key>
<integer>301</integer>
<key>startParticleSize</key>
<real>23.58</real>
<key>sourcePositionVariancey</key>
<integer>0</integer>
<key>startColorRed</key>
<integer>1</integer>
<key>finishColorVarianceRed</key>
<integer>0</integer>
<key>startColorVarianceAlpha</key>
<integer>0</integer>
<key>maxParticles</key>
<integer>460</integer>
<key>finishColorVarianceGreen</key>
<integer>0</integer>
<key>finishParticleSize</key>
<integer>16</integer>
<key>duration</key>
<integer>-1</integer>
<key>startColorVarianceRed</key>
<integer>0</integer>
<key>thumbnailFileName</key>
<string>9657CE0E-9C0F-4EB0-B847-F95CB58D2042</string>
<key>finishColorRed</key>
<integer>1</integer>
<key>gravityx</key>
<integer>0</integer>
<key>maxRadiusVariance</key>
<integer>0</integer>
<key>finishParticleSizeVariance</key>
<integer>0</integer>
<key>gravityy</key>
<real>-162.47</real>
<key>rotationEndVariance</key>
<integer>0</integer>
<key>startColorBlue</key>
<integer>1</integer>
<key>speedVariance</key>
<real>45.21</real>
<key>rotationStartVariance</key>
<integer>0</integer>
<key>radialAccelVariance</key>
<integer>0</integer>
<key>textureFileName</key>
<string>particleTexture.png</string>
<key>textureImageData</key>
<string>H4sIAAAAAAAAA+sM8HPn5ZLiYmBg4PX0cAkC0g4gzMEGJFdlFt5jYGCc5eniGFLB+HbWQU8WRwFX2UBHfTWFjgUP5plJfHxwdnKkRGfkjAZHiQb2fK5d2jtWL+r7f9ikhGVf06q2pDT/0P9f17+SLGsrlDE3Wn/2zKO1exmmME8SXiHmkdcg1XSV6SrTSc4QbhVzh7lMME4D243gdzuTxNcw2rL2qf6JKpwheGCby3ztcyLLJRljvL4cVfmjotyg3Wk3q+V9OovB5BeJQvfWcbC/knBRr/efxXThesM9cQaR+oYnTxsYZn/wviZwkDH+JmNNGsuDfqFb7Zzykow73t8WfqBlzLA7wZfpRtOk/xrrYxMY9h0XK+Wq+PC1mIHZwfJBdNdtnoxwFqanDCElQEMfSN0yvHH98/vvKgzdXxl8fsokfMxrDj/aXR/QXdRQfu89g/dRa9V7lSuDExbeseaKD7bjsPXe8V96R6iN1gbXrQ1v69fvCNyT+GrqjKxG66d1ATYTH82tbrCbbh+Qt591kToD54GdzjpZbC0C75W4HGasbeDSZHd4cHiJLnvLTa4VE4oYWOx8bhVhSthrepiuP6KtmAuMLAZPVz+XdU4JTQBdA+xl0wEAAA==</string>
<key>tangentialAccelVariance</key>
<integer>0</integer>
<key>particleLifespanVariance</key>
<real>1.1184</real>
<key>updatedAt</key>
<real>1396524975.715</real>
<key>angleVariance</key>
<integer>0</integer>
<key>angle</key>
<real>253.42</real>
<key>maxRadius</key>
<integer>100</integer>
<key>yCoordFlipped</key>
<integer>0</integer>
<key>sourcePositionx</key>
<real>320</real>
<key>sourcePositiony</key>
<real>482</real>
</dict></plist>