<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>
<key>startColorAlpha</key>
<real>0.2</real>
<key>startParticleSizeVariance</key>
<integer>64</integer>
<key>objectId</key>
<string>518655008b7959bc2d000088</string>
<key>startColorGreen</key>
<integer>1</integer>
<key>rotatePerSecond</key>
<integer>0</integer>
<key>uuid</key>
<string>3e1598d138bbbb482a95b898f921f8a1</string>
<key>radialAcceleration</key>
<real>37.21</real>
<key>emitterType</key>
<integer>1</integer>
<key>blendFuncSource</key>
<integer>770</integer>
<key>finishColorVarianceAlpha</key>
<integer>0</integer>
<key>description</key>
<string>s</string>
<key>rotationEnd</key>
<integer>0</integer>
<key>startColorVarianceBlue</key>
<integer>0</integer>
<key>rotatePerSecondVariance</key>
<integer>0</integer>
<key>particleLifespan</key>
<real>1.3816</real>
<key>createdAt</key>
<real>1367758080.168</real>
<key>minRadius</key>
<integer>0</integer>
<key>tangentialAcceleration</key>
<real>44.72</real>
<key>startColorVarianceGreen</key>
<integer>0</integer>
<key>rotationStart</key>
<real>553.62</real>
<key>speed</key>
<integer>0</integer>
<key>minRadiusVariance</key>
<integer>0</integer>
<key>finishColorVarianceBlue</key>
<integer>0</integer>
<key>name</key>
<string>test</string>
<key>finishColorBlue</key>
<real>0.09</real>
<key>finishColorGreen</key>
<real>0.92</real>
<key>blendFuncDestination</key>
<integer>1</integer>
<key>finishColorAlpha</key>
<real>0.3</real>
<key>sourcePositionVariancex</key>
<integer>7</integer>
<key>startParticleSize</key>
<integer>512</integer>
<key>sourcePositionVariancey</key>
<integer>7</integer>
<key>startColorRed</key>
<integer>1</integer>
<key>finishColorVarianceRed</key>
<integer>0</integer>
<key>startColorVarianceAlpha</key>
<integer>0</integer>
<key>maxParticles</key>
<integer>778</integer>
<key>finishColorVarianceGreen</key>
<integer>0</integer>
<key>finishParticleSize</key>
<integer>512</integer>
<key>duration</key>
<integer>-1</integer>
<key>startColorVarianceRed</key>
<integer>0</integer>
<key>thumbnailFileName</key>
<string>955B12B6-0DF6-4A5B-9569-D69A4668CDC9</string>
<key>finishColorRed</key>
<real>0.81</real>
<key>gravityx</key>
<integer>0</integer>
<key>maxRadiusVariance</key>
<real>196.6</real>
<key>finishParticleSizeVariance</key>
<integer>0</integer>
<key>gravityy</key>
<real>48.42</real>
<key>rotationEndVariance</key>
<integer>0</integer>
<key>startColorBlue</key>
<real>0.55</real>
<key>speedVariance</key>
<integer>0</integer>
<key>rotationStartVariance</key>
<integer>0</integer>
<key>radialAccelVariance</key>
<real>207.13</real>
<key>textureFileName</key>
<string>pd209.tiff</string>
<key>tangentialAccelVariance</key>
<integer>0</integer>
<key>particleLifespanVariance</key>
<integer>0</integer>
<key>updatedAt</key>
<real>1396525397.715</real>
<key>angleVariance</key>
<integer>0</integer>
<key>angle</key>
<integer>0</integer>
<key>maxRadius</key>
<real>46.53</real>
<key>yCoordFlipped</key>
<integer>0</integer>
<key>sourcePositionx</key>
<real>320</real>
<key>sourcePositiony</key>
<real>482</real>
</dict></plist>