<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>
<key>startColorAlpha</key>
<real>0.62</real>
<key>startParticleSizeVariance</key>
<real>7.16</real>
<key>objectId</key>
<string>518655008b7959bc2d0000cf</string>
<key>startColorGreen</key>
<real>0.03</real>
<key>rotatePerSecond</key>
<integer>0</integer>
<key>uuid</key>
<string>696f7e5a34aaf752f827a3760b74bbd9</string>
<key>radialAcceleration</key>
<integer>0</integer>
<key>emitterType</key>
<integer>0</integer>
<key>blendFuncSource</key>
<integer>770</integer>
<key>finishColorVarianceAlpha</key>
<real>0.98</real>
<key>description</key>
<string>sc</string>
<key>rotationEnd</key>
<integer>0</integer>
<key>startColorVarianceBlue</key>
<real>0.14</real>
<key>rotatePerSecondVariance</key>
<integer>0</integer>
<key>particleLifespan</key>
<real>1.7763</real>
<key>createdAt</key>
<real>1367758080.36</real>
<key>minRadius</key>
<integer>1</integer>
<key>tangentialAcceleration</key>
<integer>24</integer>
<key>startColorVarianceGreen</key>
<real>0.02</real>
<key>rotationStart</key>
<integer>0</integer>
<key>speed</key>
<integer>0</integer>
<key>minRadiusVariance</key>
<integer>0</integer>
<key>finishColorVarianceBlue</key>
<real>0.38</real>
<key>name</key>
<string>cs</string>
<key>finishColorBlue</key>
<integer>0</integer>
<key>finishColorGreen</key>
<integer>0</integer>
<key>blendFuncDestination</key>
<integer>1</integer>
<key>finishColorAlpha</key>
<integer>0</integer>
<key>sourcePositionVariancex</key>
<integer>-4</integer>
<key>startParticleSize</key>
<integer>30</integer>
<key>sourcePositionVariancey</key>
<integer>3</integer>
<key>startColorRed</key>
<integer>1</integer>
<key>finishColorVarianceRed</key>
<real>0.58</real>
<key>startColorVarianceAlpha</key>
<integer>0</integer>
<key>maxParticles</key>
<integer>1539</integer>
<key>finishColorVarianceGreen</key>
<real>0.18</real>
<key>finishParticleSize</key>
<real>5.7</real>
<key>duration</key>
<integer>-1</integer>
<key>startColorVarianceRed</key>
<real>0.74</real>
<key>thumbnailFileName</key>
<string>1AD5FF59-DD9D-4914-B125-3BE2CE359F1F</string>
<key>finishColorRed</key>
<integer>0</integer>
<key>gravityx</key>
<integer>10</integer>
<key>maxRadiusVariance</key>
<integer>266</integer>
<key>finishParticleSizeVariance</key>
<integer>1</integer>
<key>gravityy</key>
<real>25.47</real>
<key>rotationEndVariance</key>
<integer>0</integer>
<key>startColorBlue</key>
<integer>0</integer>
<key>speedVariance</key>
<integer>0</integer>
<key>rotationStartVariance</key>
<integer>0</integer>
<key>radialAccelVariance</key>
<integer>0</integer>
<key>textureFileName</key>
<string>pd103.tiff</string>
<key>tangentialAccelVariance</key>
<integer>4</integer>
<key>particleLifespanVariance</key>
<integer>0</integer>
<key>updatedAt</key>
<real>1396525326.715</real>
<key>angleVariance</key>
<integer>0</integer>
<key>angle</key>
<integer>0</integer>
<key>maxRadius</key>
<integer>800</integer>
<key>yCoordFlipped</key>
<integer>0</integer>
<key>sourcePositionx</key>
<real>320</real>
<key>sourcePositiony</key>
<real>482</real>
</dict></plist>