<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>
<key>startColorAlpha</key>
<integer>1</integer>
<key>startParticleSizeVariance</key>
<real>31.80124</real>
<key>startColorGreen</key>
<real>0.9815406</real>
<key>rotatePerSecond</key>
<integer>0</integer>
<key>radialAcceleration</key>
<integer>0</integer>
<key>emitterType</key>
<integer>1</integer>
<key>blendFuncSource</key>
<integer>770</integer>
<key>finishColorVarianceAlpha</key>
<integer>0</integer>
<key>description</key>
<string>shinny</string>
<key>rotationEnd</key>
<integer>0</integer>
<key>startColorVarianceBlue</key>
<integer>0</integer>
<key>rotatePerSecondVariance</key>
<integer>30</integer>
<key>particleLifespan</key>
<real>5.179503</real>
<key>minRadius</key>
<real>118.82</real>
<key>tangentialAcceleration</key>
<integer>0</integer>
<key>startColorVarianceGreen</key>
<integer>0</integer>
<key>rotationStart</key>
<integer>0</integer>
<key>speed</key>
<integer>0</integer>
<key>minRadiusVariance</key>
<integer>0</integer>
<key>finishColorVarianceBlue</key>
<integer>0</integer>
<key>name</key>
<string>shi</string>
<key>finishColorBlue</key>
<real>0.3920416</real>
<key>finishColorGreen</key>
<real>0.9798312</real>
<key>blendFuncDestination</key>
<integer>1</integer>
<key>finishColorAlpha</key>
<integer>0</integer>
<key>sourcePositionVariancex</key>
<integer>0</integer>
<key>startParticleSize</key>
<real>12.7205</real>
<key>sourcePositionVariancey</key>
<integer>0</integer>
<key>startColorRed</key>
<real>0.7528103</real>
<key>finishColorVarianceRed</key>
<integer>0</integer>
<key>startColorVarianceAlpha</key>
<integer>0</integer>
<key>maxParticles</key>
<integer>20</integer>
<key>finishColorVarianceGreen</key>
<integer>0</integer>
<key>finishParticleSize</key>
<real>19.08075</real>
<key>duration</key>
<integer>-1</integer>
<key>startColorVarianceRed</key>
<integer>0</integer>
<key>thumbnailFileName</key>
<string>4A97C4E2-CDC4-4C13-81E0-97D862EC1E38</string>
<key>finishColorRed</key>
<real>0.358246</real>
<key>gravityx</key>
<real>0.7</real>
<key>maxRadiusVariance</key>
<real>93.1677</real>
<key>finishParticleSizeVariance</key>
<integer>20</integer>
<key>gravityy</key>
<real>1.43</real>
<key>rotationEndVariance</key>
<integer>0</integer>
<key>startColorBlue</key>
<integer>0</integer>
<key>rotationStartVariance</key>
<integer>0</integer>
<key>speedVariance</key>
<integer>30</integer>
<key>radialAccelVariance</key>
<integer>20</integer>
<key>textureFileName</key>
<string>pd261.png</string>
<key>tangentialAccelVariance</key>
<integer>40</integer>
<key>particleLifespanVariance</key>
<real>0.9937888</real>
<key>angleVariance</key>
<real>169.9379</real>
<key>angle</key>
<real>17.8882</real>
<key>maxRadius</key>
<real>43.47826</real>
<key>createdAt</key>
<real>1410551739.407</real>
<key>updatedAt</key>
<real>1410551739.407</real>
<key>objectId</key>
<string>54134fbb8b795934248b456a</string>
<key>sourcePositionx</key>
<real>320</real>
<key>sourcePositiony</key>
<real>482</real>
</dict></plist>