<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>
<key>startColorAlpha</key>
<integer>1</integer>
<key>startParticleSizeVariance</key>
<real>5.63</real>
<key>objectId</key>
<string>518655008b7959bc2d0000e8</string>
<key>startColorGreen</key>
<integer>1</integer>
<key>rotatePerSecond</key>
<integer>0</integer>
<key>uuid</key>
<string>7340e042fa55ffdab6e0c8f376ba48bf</string>
<key>radialAcceleration</key>
<integer>0</integer>
<key>emitterType</key>
<integer>0</integer>
<key>blendFuncSource</key>
<integer>1</integer>
<key>finishColorVarianceAlpha</key>
<real>0.24</real>
<key>description</key>
<string>Fullscreen snowstorm by GamingHorror</string>
<key>rotationEnd</key>
<integer>0</integer>
<key>startColorVarianceBlue</key>
<integer>0</integer>
<key>rotatePerSecondVariance</key>
<integer>0</integer>
<key>particleLifespan</key>
<real>3.75</real>
<key>createdAt</key>
<real>1367758080.432</real>
<key>minRadius</key>
<integer>0</integer>
<key>tangentialAcceleration</key>
<integer>0</integer>
<key>startColorVarianceGreen</key>
<integer>0</integer>
<key>rotationStart</key>
<integer>0</integer>
<key>speed</key>
<real>809.21</real>
<key>minRadiusVariance</key>
<integer>0</integer>
<key>finishColorVarianceBlue</key>
<integer>0</integer>
<key>name</key>
<string>SnowStorm</string>
<key>finishColorBlue</key>
<integer>1</integer>
<key>finishColorGreen</key>
<integer>1</integer>
<key>blendFuncDestination</key>
<integer>1</integer>
<key>finishColorAlpha</key>
<real>0.46</real>
<key>sourcePositionVariancex</key>
<integer>0</integer>
<key>startParticleSize</key>
<integer>8</integer>
<key>sourcePositionVariancey</key>
<integer>384</integer>
<key>startColorRed</key>
<integer>1</integer>
<key>finishColorVarianceRed</key>
<integer>0</integer>
<key>startColorVarianceAlpha</key>
<real>0.9</real>
<key>maxParticles</key>
<integer>960</integer>
<key>finishColorVarianceGreen</key>
<integer>0</integer>
<key>finishParticleSize</key>
<real>8.33</real>
<key>duration</key>
<integer>-1</integer>
<key>startColorVarianceRed</key>
<integer>0</integer>
<key>thumbnailFileName</key>
<string>00FA1EFE-968C-4016-B4F3-34EB6AC31900</string>
<key>finishColorRed</key>
<integer>1</integer>
<key>gravityx</key>
<integer>0</integer>
<key>maxRadiusVariance</key>
<integer>0</integer>
<key>finishParticleSizeVariance</key>
<integer>32</integer>
<key>gravityy</key>
<integer>0</integer>
<key>rotationEndVariance</key>
<integer>0</integer>
<key>startColorBlue</key>
<integer>1</integer>
<key>speedVariance</key>
<real>309.21</real>
<key>rotationStartVariance</key>
<integer>0</integer>
<key>radialAccelVariance</key>
<integer>0</integer>
<key>textureFileName</key>
<string>particleTexture.png</string>
<key>textureImageData</key>
<string>H4sIAAAAAAAAA+sM8HPn5ZLiYmBg4PX0cAkC0gIgzMEGJOU//08EUrM9XRxDLASPBt3mbVAQEH6soZb3gKfvQce5R2zHEjeYnnhsE3C43VfPYf11h6sR2bOltpgenvPWiI35h6Tprn9dpY6572TE7ByvtHzum6RwPG6RP18Gn0auxBfObys+Fhsxx+3m/7777Y3Fx5ylYvK/MaVOzljSuEg/+FJDpr3i1SONOxrsWl9c7umxq3U77Mi6vn7JnMZHK4ONXGJDE/6bWzDsMHx7/FmGxy+gMxk8Xf1c1jklNAEAMWYn0NQAAAA=</string>
<key>tangentialAccelVariance</key>
<integer>0</integer>
<key>particleLifespanVariance</key>
<integer>0</integer>
<key>updatedAt</key>
<real>1396525301.715</real>
<key>angleVariance</key>
<real>12.33</real>
<key>angle</key>
<integer>0</integer>
<key>maxRadius</key>
<integer>100</integer>
<key>yCoordFlipped</key>
<integer>0</integer>
<key>sourcePositionx</key>
<real>320</real>
<key>sourcePositiony</key>
<real>482</real>
</dict></plist>