<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>
<key>startColorAlpha</key>
<real>0.1</real>
<key>startParticleSizeVariance</key>
<integer>0</integer>
<key>objectId</key>
<string>518655008b7959bc2d0000e1</string>
<key>startColorGreen</key>
<real>0.1</real>
<key>rotatePerSecond</key>
<integer>360</integer>
<key>uuid</key>
<string>6f6fd53883b18254ec0348e5983198e5</string>
<key>radialAcceleration</key>
<integer>-1000</integer>
<key>emitterType</key>
<integer>1</integer>
<key>blendFuncSource</key>
<integer>770</integer>
<key>finishColorVarianceAlpha</key>
<real>0.1</real>
<key>description</key>
<string>Spinny!</string>
<key>rotationEnd</key>
<integer>0</integer>
<key>startColorVarianceBlue</key>
<real>0.9</real>
<key>rotatePerSecondVariance</key>
<real>139.74</real>
<key>particleLifespan</key>
<real>5.4605</real>
<key>createdAt</key>
<real>1367758080.412</real>
<key>minRadius</key>
<integer>0</integer>
<key>tangentialAcceleration</key>
<real>-144.74</real>
<key>startColorVarianceGreen</key>
<real>0.9</real>
<key>rotationStart</key>
<integer>0</integer>
<key>speed</key>
<integer>83</integer>
<key>minRadiusVariance</key>
<integer>0</integer>
<key>finishColorVarianceBlue</key>
<real>0.1</real>
<key>name</key>
<string>Round and Round</string>
<key>finishColorBlue</key>
<real>0.4</real>
<key>finishColorGreen</key>
<real>0.4</real>
<key>blendFuncDestination</key>
<integer>1</integer>
<key>finishColorAlpha</key>
<real>0.25</real>
<key>sourcePositionVariancex</key>
<integer>7</integer>
<key>startParticleSize</key>
<real>44.21</real>
<key>sourcePositionVariancey</key>
<integer>7</integer>
<key>startColorRed</key>
<real>0.1</real>
<key>finishColorVarianceRed</key>
<real>0.1</real>
<key>startColorVarianceAlpha</key>
<real>0.9</real>
<key>maxParticles</key>
<integer>2000</integer>
<key>finishColorVarianceGreen</key>
<real>0.1</real>
<key>finishParticleSize</key>
<real>11.84</real>
<key>duration</key>
<integer>-1</integer>
<key>startColorVarianceRed</key>
<real>0.9</real>
<key>thumbnailFileName</key>
<string>915AA007-574F-41A1-994B-3209F902AA7C</string>
<key>finishColorRed</key>
<real>0.4</real>
<key>gravityx</key>
<real>0.13</real>
<key>maxRadiusVariance</key>
<integer>0</integer>
<key>finishParticleSizeVariance</key>
<integer>0</integer>
<key>gravityy</key>
<real>1.32</real>
<key>rotationEndVariance</key>
<integer>0</integer>
<key>startColorBlue</key>
<real>0.1</real>
<key>speedVariance</key>
<integer>100</integer>
<key>rotationStartVariance</key>
<integer>0</integer>
<key>radialAccelVariance</key>
<integer>0</integer>
<key>textureFileName</key>
<string>pd4.tiff</string>
<key>tangentialAccelVariance</key>
<integer>0</integer>
<key>particleLifespanVariance</key>
<integer>0</integer>
<key>updatedAt</key>
<real>1396525308.715</real>
<key>angleVariance</key>
<integer>360</integer>
<key>angle</key>
<integer>360</integer>
<key>maxRadius</key>
<real>135.79</real>
<key>yCoordFlipped</key>
<integer>0</integer>
<key>sourcePositionx</key>
<real>320</real>
<key>sourcePositiony</key>
<real>482</real>
</dict></plist>