<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>
<key>startColorAlpha</key>
<integer>1</integer>
<key>startParticleSizeVariance</key>
<integer>3</integer>
<key>startColorGreen</key>
<integer>1</integer>
<key>rotatePerSecond</key>
<integer>360</integer>
<key>radialAcceleration</key>
<integer>0</integer>
<key>emitterType</key>
<integer>0</integer>
<key>blendFuncSource</key>
<integer>770</integer>
<key>finishColorVarianceAlpha</key>
<integer>1</integer>
<key>description</key>
<string></string>
<key>rotationEnd</key>
<integer>0</integer>
<key>startColorVarianceBlue</key>
<real>0.2</real>
<key>rotatePerSecondVariance</key>
<integer>0</integer>
<key>particleLifespan</key>
<integer>5</integer>
<key>minRadius</key>
<integer>0</integer>
<key>tangentialAcceleration</key>
<integer>0</integer>
<key>startColorVarianceGreen</key>
<real>0.25</real>
<key>rotationStart</key>
<integer>0</integer>
<key>speed</key>
<real>5.71</real>
<key>minRadiusVariance</key>
<integer>0</integer>
<key>finishColorVarianceBlue</key>
<integer>0</integer>
<key>name</key>
<string>TEST1</string>
<key>finishColorBlue</key>
<real>0.8115132</real>
<key>finishColorGreen</key>
<real>0.9946234</real>
<key>blendFuncDestination</key>
<integer>1</integer>
<key>finishColorAlpha</key>
<real>0.08</real>
<key>sourcePositionVariancex</key>
<integer>160</integer>
<key>startParticleSize</key>
<integer>4</integer>
<key>sourcePositionVariancey</key>
<integer>240</integer>
<key>startColorRed</key>
<real>0.999996</real>
<key>finishColorVarianceRed</key>
<integer>0</integer>
<key>startColorVarianceAlpha</key>
<real>0.29</real>
<key>maxParticles</key>
<integer>50</integer>
<key>finishColorVarianceGreen</key>
<real>0.46</real>
<key>finishParticleSize</key>
<integer>3</integer>
<key>duration</key>
<integer>-1</integer>
<key>startColorVarianceRed</key>
<real>0.2</real>
<key>thumbnailFileName</key>
<string>3918FB54-6CDA-4B8B-A6EF-A454AC028241</string>
<key>finishColorRed</key>
<real>0.9997814</real>
<key>gravityx</key>
<integer>0</integer>
<key>maxRadiusVariance</key>
<integer>0</integer>
<key>finishParticleSizeVariance</key>
<integer>3</integer>
<key>gravityy</key>
<integer>0</integer>
<key>rotationEndVariance</key>
<integer>0</integer>
<key>startColorBlue</key>
<integer>1</integer>
<key>rotationStartVariance</key>
<integer>0</integer>
<key>speedVariance</key>
<integer>1</integer>
<key>radialAccelVariance</key>
<integer>0</integer>
<key>textureFileName</key>
<string>particleTexture.png</string>
<key>textureImageData</key>
<string>H4sIAAAAAAAAA4WQP2sCQRDF35xB/JMUBtQgJhHRxsbCztLeJJx9SEgav0MI6QJW6RKwtPAL2WrET3CCZ3nrPN2TRZC75S1vZn47e7P9PlqA/BljoN/NZRbzWgXr5wdsKHrmtNa2TFtlPoeIzAzG1e8HItZUZZ5hfMrEmnwjIlOvYn2OiVW/RfDyiDCJe31CSCVxbz7Cxh2CJK55jyCfxf90dJ4Zf8Hkc1jozBXOzviU4Xn7Lh37hh3tu+Q/vPvYUvSaW7HPnrkSIKWRIKebON7b+wvA60rK5hWWtPWebgXWmUVGrh2maL1WpeT0LMe8/EjV4X2n5+B4b48jIGOXHNYOjiN8TUoCAAA=</string>
<key>tangentialAccelVariance</key>
<integer>0</integer>
<key>particleLifespanVariance</key>
<integer>5</integer>
<key>angleVariance</key>
<integer>360</integer>
<key>angle</key>
<integer>0</integer>
<key>maxRadius</key>
<integer>28</integer>
<key>createdAt</key>
<real>1384541701.263</real>
<key>updatedAt</key>
<real>1396525012.715</real>
<key>yCoordFlipped</key>
<integer>0</integer>
<key>objectId</key>
<string>52866e058b79599547000002</string>
<key>sourcePositionx</key>
<real>320</real>
<key>sourcePositiony</key>
<real>482</real>
</dict></plist>