<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>
<key>startColorAlpha</key>
<integer>0</integer>
<key>startParticleSizeVariance</key>
<real>138.11</real>
<key>objectId</key>
<string>518655008b7959bc2d00009d</string>
<key>startColorGreen</key>
<integer>1</integer>
<key>rotatePerSecond</key>
<integer>45</integer>
<key>uuid</key>
<string>47b4e290f634065070c933e540546923</string>
<key>radialAcceleration</key>
<real>328.95</real>
<key>emitterType</key>
<integer>0</integer>
<key>blendFuncSource</key>
<integer>1</integer>
<key>finishColorVarianceAlpha</key>
<integer>0</integer>
<key>description</key>
<string>test2</string>
<key>rotationEnd</key>
<integer>0</integer>
<key>startColorVarianceBlue</key>
<integer>1</integer>
<key>rotatePerSecondVariance</key>
<integer>5</integer>
<key>particleLifespan</key>
<real>0.9868</real>
<key>createdAt</key>
<real>1367758080.222</real>
<key>minRadius</key>
<integer>0</integer>
<key>tangentialAcceleration</key>
<real>565.79</real>
<key>startColorVarianceGreen</key>
<integer>1</integer>
<key>rotationStart</key>
<real>0.37</real>
<key>speed</key>
<real>98.68</real>
<key>minRadiusVariance</key>
<integer>0</integer>
<key>finishColorVarianceBlue</key>
<integer>1</integer>
<key>name</key>
<string>stone3</string>
<key>finishColorBlue</key>
<integer>1</integer>
<key>finishColorGreen</key>
<integer>1</integer>
<key>blendFuncDestination</key>
<integer>0</integer>
<key>finishColorAlpha</key>
<integer>0</integer>
<key>sourcePositionVariancex</key>
<integer>0</integer>
<key>startParticleSize</key>
<real>84.21</real>
<key>sourcePositionVariancey</key>
<integer>400</integer>
<key>startColorRed</key>
<integer>1</integer>
<key>finishColorVarianceRed</key>
<integer>1</integer>
<key>startColorVarianceAlpha</key>
<integer>0</integer>
<key>maxParticles</key>
<integer>20</integer>
<key>finishColorVarianceGreen</key>
<integer>1</integer>
<key>finishParticleSize</key>
<integer>10</integer>
<key>duration</key>
<integer>-1</integer>
<key>startColorVarianceRed</key>
<integer>1</integer>
<key>thumbnailFileName</key>
<string>150DA6F8-DF5E-4918-BF26-C6102C5F5FCA</string>
<key>finishColorRed</key>
<integer>1</integer>
<key>gravityx</key>
<integer>0</integer>
<key>maxRadiusVariance</key>
<integer>2</integer>
<key>finishParticleSizeVariance</key>
<integer>0</integer>
<key>gravityy</key>
<real>-1697.37</real>
<key>rotationEndVariance</key>
<integer>0</integer>
<key>startColorBlue</key>
<integer>1</integer>
<key>speedVariance</key>
<real>164.47</real>
<key>rotationStartVariance</key>
<integer>0</integer>
<key>radialAccelVariance</key>
<real>-565.79</real>
<key>textureFileName</key>
<string>pd426.png</string>
<key>tangentialAccelVariance</key>
<real>302.63</real>
<key>particleLifespanVariance</key>
<real>2.0395</real>
<key>updatedAt</key>
<real>1396525376.715</real>
<key>angleVariance</key>
<real>189.86</real>
<key>angle</key>
<real>92.37</real>
<key>maxRadius</key>
<integer>100</integer>
<key>yCoordFlipped</key>
<integer>0</integer>
<key>sourcePositionx</key>
<real>320</real>
<key>sourcePositiony</key>
<real>482</real>
</dict></plist>