<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>
<key>startColorAlpha</key>
<integer>1</integer>
<key>startParticleSizeVariance</key>
<integer>0</integer>
<key>objectId</key>
<string>518655008b7959bc2d00009c</string>
<key>startColorGreen</key>
<real>0.56</real>
<key>rotatePerSecond</key>
<integer>0</integer>
<key>uuid</key>
<string>4732192ac785743ea10c0ac5824b1275</string>
<key>radialAcceleration</key>
<integer>0</integer>
<key>emitterType</key>
<integer>1</integer>
<key>blendFuncSource</key>
<integer>770</integer>
<key>finishColorVarianceAlpha</key>
<integer>0</integer>
<key>description</key>
<string>testing</string>
<key>rotationEnd</key>
<integer>0</integer>
<key>startColorVarianceBlue</key>
<real>0.2</real>
<key>rotatePerSecondVariance</key>
<integer>0</integer>
<key>particleLifespan</key>
<integer>0</integer>
<key>createdAt</key>
<real>1367758080.221</real>
<key>minRadius</key>
<integer>0</integer>
<key>tangentialAcceleration</key>
<integer>0</integer>
<key>startColorVarianceGreen</key>
<real>0.2</real>
<key>rotationStart</key>
<integer>0</integer>
<key>speed</key>
<integer>100</integer>
<key>minRadiusVariance</key>
<integer>0</integer>
<key>finishColorVarianceBlue</key>
<integer>0</integer>
<key>name</key>
<string>test particle</string>
<key>finishColorBlue</key>
<integer>0</integer>
<key>finishColorGreen</key>
<integer>0</integer>
<key>blendFuncDestination</key>
<integer>1</integer>
<key>finishColorAlpha</key>
<real>0.84</real>
<key>sourcePositionVariancex</key>
<integer>0</integer>
<key>startParticleSize</key>
<integer>5</integer>
<key>sourcePositionVariancey</key>
<integer>0</integer>
<key>startColorRed</key>
<real>0.89</real>
<key>finishColorVarianceRed</key>
<integer>0</integer>
<key>startColorVarianceAlpha</key>
<real>0.5</real>
<key>maxParticles</key>
<integer>2000</integer>
<key>finishColorVarianceGreen</key>
<integer>0</integer>
<key>finishParticleSize</key>
<real>10.08</real>
<key>duration</key>
<real>0.01</real>
<key>startColorVarianceRed</key>
<real>0.2</real>
<key>thumbnailFileName</key>
<string>904D27F0-A4B5-45B8-BCE1-4C6808DAC74E</string>
<key>finishColorRed</key>
<integer>0</integer>
<key>gravityx</key>
<real>1.15</real>
<key>maxRadiusVariance</key>
<integer>0</integer>
<key>finishParticleSizeVariance</key>
<integer>0</integer>
<key>gravityy</key>
<real>1.58</real>
<key>rotationEndVariance</key>
<integer>0</integer>
<key>startColorBlue</key>
<real>0.36</real>
<key>speedVariance</key>
<integer>0</integer>
<key>rotationStartVariance</key>
<integer>0</integer>
<key>radialAccelVariance</key>
<integer>0</integer>
<key>textureFileName</key>
<string>pd425.png</string>
<key>tangentialAccelVariance</key>
<integer>0</integer>
<key>particleLifespanVariance</key>
<real>1.1184</real>
<key>updatedAt</key>
<real>1396525377.715</real>
<key>angleVariance</key>
<integer>360</integer>
<key>angle</key>
<integer>360</integer>
<key>maxRadius</key>
<integer>100</integer>
<key>yCoordFlipped</key>
<integer>0</integer>
<key>sourcePositionx</key>
<real>320</real>
<key>sourcePositiony</key>
<real>482</real>
</dict></plist>