<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>
<key>startColorAlpha</key>
<real>0.1</real>
<key>startParticleSizeVariance</key>
<integer>0</integer>
<key>objectId</key>
<string>518655008b7959bc2d000140</string>
<key>startColorGreen</key>
<real>0.65</real>
<key>rotatePerSecond</key>
<integer>0</integer>
<key>uuid</key>
<string>9e1be244ce50abc6963bcbbc185f9870</string>
<key>radialAcceleration</key>
<real>-960.53</real>
<key>emitterType</key>
<integer>0</integer>
<key>blendFuncSource</key>
<integer>770</integer>
<key>finishColorVarianceAlpha</key>
<real>0.1</real>
<key>description</key>
<string>The World Began</string>
<key>rotationEnd</key>
<integer>0</integer>
<key>startColorVarianceBlue</key>
<integer>0</integer>
<key>rotatePerSecondVariance</key>
<integer>0</integer>
<key>particleLifespan</key>
<real>2.5658</real>
<key>createdAt</key>
<real>1367758080.933</real>
<key>minRadius</key>
<integer>0</integer>
<key>tangentialAcceleration</key>
<real>434.21</real>
<key>startColorVarianceGreen</key>
<integer>0</integer>
<key>rotationStart</key>
<integer>0</integer>
<key>speed</key>
<real>6.58</real>
<key>minRadiusVariance</key>
<integer>0</integer>
<key>finishColorVarianceBlue</key>
<integer>0</integer>
<key>name</key>
<string>The Big Bang</string>
<key>finishColorBlue</key>
<real>0.11</real>
<key>finishColorGreen</key>
<real>0.65</real>
<key>blendFuncDestination</key>
<integer>1</integer>
<key>finishColorAlpha</key>
<integer>1</integer>
<key>sourcePositionVariancex</key>
<integer>8</integer>
<key>startParticleSize</key>
<integer>7</integer>
<key>sourcePositionVariancey</key>
<integer>8</integer>
<key>startColorRed</key>
<real>0.93</real>
<key>finishColorVarianceRed</key>
<integer>0</integer>
<key>startColorVarianceAlpha</key>
<integer>0</integer>
<key>maxParticles</key>
<integer>1460</integer>
<key>finishColorVarianceGreen</key>
<integer>0</integer>
<key>finishParticleSize</key>
<real>12.95</real>
<key>duration</key>
<integer>-1</integer>
<key>startColorVarianceRed</key>
<integer>0</integer>
<key>thumbnailFileName</key>
<string>7A1463C6-982A-4299-86C8-674E01740DD0</string>
<key>finishColorRed</key>
<real>0.93</real>
<key>gravityx</key>
<integer>1</integer>
<key>maxRadiusVariance</key>
<integer>0</integer>
<key>finishParticleSizeVariance</key>
<integer>0</integer>
<key>gravityy</key>
<integer>1</integer>
<key>rotationEndVariance</key>
<integer>0</integer>
<key>startColorBlue</key>
<real>0.11</real>
<key>speedVariance</key>
<integer>2</integer>
<key>rotationStartVariance</key>
<integer>0</integer>
<key>radialAccelVariance</key>
<real>-434.21</real>
<key>textureFileName</key>
<string>particleTexture.png</string>
<key>textureImageData</key>
<string>H4sIAAAAAAAAA92XzWpaQRTHZ5JitbFwG9uawA1WBLXZxE0IgQQiuBAxRNo3cWGgi2zE2lU2wU0EH6DLPkHJMktLIG9z+z9z/zVzh96moR9jq/yc67nnY+acOeP1+FhtKxVkoyhS/xiPQQ48AWscc5T/yZh5EIDnoAg2wCbHIuUB9X7XXDL0V2CsEqiAGngNtjnWKC9Rr0C7zC/EznI9sr4yqIMdsAv2wQE45LhP+Q71yrQL6OehsaWe6yAEVdBgjCZogy44AT2OXcqb1GvQLqSf3APXLTZbzK2s6wh0oi/vo3sRvVh/l/Zb9PczecgwZyFt90DLrDMZow8G4JRj37nfo90e/YT0e99+yLNuVc6/5fiVWGdgCMbgA8ch5QNHv0U/VfrN/yC29EyBe6fBHPYsX+/ACJyDCbgEU44TykdGL5mHI/or039ab8rcpHfq3EMdJ7as8wLMUuo+4/2xM4cO/dXpPy0HUp9SFPdQ08n5yPhOxvsMrsyYlF9Qf2DJmvRbYpzv5V7Orwrr1bZsz5jbmSW7BnNww/HaycO5sbuTtem3wjhuDaQ/5QytMVdda58PTX2TsW+dNd86c5jQrs/vXfqtMY57HshviOxP6RU5z06s3Es9L62cz1PqP1/UIt6T40UN4jPqgP43GM+Ov8a9Iee5nKk92kl/S49N+f3K5Pwuph3/xtyPr6e0O7X64JD+Nxlvmdbvu/6+97/v/l+G88/3+e/7928Zfv99P/8sw/OfnQdfz7/2fvD1/O/2po//P2lz+dv///5b1FOt1KpSSqtX+NDW9Yq5fqRU8FGvUg5lneH1Cj6eyX2Rqqxet3Re8Bp39UvLZ/GbfqB0aOm/sXy+XcT9pOSV5VvH769d1GbNuhAAAA==</string>
<key>tangentialAccelVariance</key>
<real>513.16</real>
<key>particleLifespanVariance</key>
<real>1.1184</real>
<key>updatedAt</key>
<real>1396525216.715</real>
<key>angleVariance</key>
<integer>0</integer>
<key>angle</key>
<integer>0</integer>
<key>maxRadius</key>
<integer>100</integer>
<key>yCoordFlipped</key>
<integer>0</integer>
<key>sourcePositionx</key>
<real>320</real>
<key>sourcePositiony</key>
<real>482</real>
</dict></plist>