<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>
<key>startColorAlpha</key>
<real>0.1</real>
<key>startParticleSizeVariance</key>
<real>3.37</real>
<key>objectId</key>
<string>518655008b7959bc2d0000c4</string>
<key>startColorGreen</key>
<real>0.19</real>
<key>rotatePerSecond</key>
<integer>0</integer>
<key>uuid</key>
<string>61c47cc2667e8a2b4268c8bc5dd8ec1c</string>
<key>radialAcceleration</key>
<integer>0</integer>
<key>emitterType</key>
<integer>0</integer>
<key>blendFuncSource</key>
<integer>770</integer>
<key>finishColorVarianceAlpha</key>
<integer>0</integer>
<key>description</key>
<string>Water</string>
<key>rotationEnd</key>
<integer>0</integer>
<key>startColorVarianceBlue</key>
<integer>0</integer>
<key>rotatePerSecondVariance</key>
<integer>0</integer>
<key>particleLifespan</key>
<real>0.7237</real>
<key>createdAt</key>
<real>1367758080.338</real>
<key>minRadius</key>
<integer>0</integer>
<key>tangentialAcceleration</key>
<integer>0</integer>
<key>startColorVarianceGreen</key>
<integer>0</integer>
<key>rotationStart</key>
<integer>0</integer>
<key>speed</key>
<integer>4</integer>
<key>minRadiusVariance</key>
<integer>0</integer>
<key>finishColorVarianceBlue</key>
<integer>0</integer>
<key>name</key>
<string>WaterTween</string>
<key>finishColorBlue</key>
<real>0.23</real>
<key>finishColorGreen</key>
<real>0.14</real>
<key>blendFuncDestination</key>
<integer>772</integer>
<key>finishColorAlpha</key>
<integer>0</integer>
<key>sourcePositionVariancex</key>
<integer>1088</integer>
<key>startParticleSize</key>
<real>165.05</real>
<key>sourcePositionVariancey</key>
<integer>100</integer>
<key>startColorRed</key>
<integer>0</integer>
<key>finishColorVarianceRed</key>
<integer>0</integer>
<key>startColorVarianceAlpha</key>
<integer>0</integer>
<key>maxParticles</key>
<integer>2000</integer>
<key>finishColorVarianceGreen</key>
<integer>0</integer>
<key>finishParticleSize</key>
<real>131.37</real>
<key>duration</key>
<integer>-1</integer>
<key>startColorVarianceRed</key>
<integer>0</integer>
<key>thumbnailFileName</key>
<string>2B10A397-7D7D-40C1-A20C-816284BC7AAD</string>
<key>finishColorRed</key>
<integer>0</integer>
<key>gravityx</key>
<integer>0</integer>
<key>maxRadiusVariance</key>
<integer>0</integer>
<key>finishParticleSizeVariance</key>
<integer>0</integer>
<key>gravityy</key>
<real>-276.32</real>
<key>rotationEndVariance</key>
<integer>0</integer>
<key>startColorBlue</key>
<real>0.81</real>
<key>speedVariance</key>
<integer>0</integer>
<key>rotationStartVariance</key>
<integer>0</integer>
<key>radialAccelVariance</key>
<integer>0</integer>
<key>textureFileName</key>
<string>pd48.png</string>
<key>tangentialAccelVariance</key>
<integer>0</integer>
<key>particleLifespanVariance</key>
<real>0.0658</real>
<key>updatedAt</key>
<real>1396525337.715</real>
<key>angleVariance</key>
<integer>0</integer>
<key>angle</key>
<integer>0</integer>
<key>maxRadius</key>
<integer>100</integer>
<key>yCoordFlipped</key>
<integer>0</integer>
<key>sourcePositionx</key>
<real>320</real>
<key>sourcePositiony</key>
<real>482</real>
</dict></plist>