<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>
<key>startColorAlpha</key>
<real>0.1</real>
<key>startParticleSizeVariance</key>
<real>3.37</real>
<key>startColorGreen</key>
<real>0.2933974</real>
<key>rotatePerSecond</key>
<integer>360</integer>
<key>radialAcceleration</key>
<integer>0</integer>
<key>emitterType</key>
<integer>0</integer>
<key>blendFuncSource</key>
<integer>770</integer>
<key>finishColorVarianceAlpha</key>
<real>0.01610659</real>
<key>description</key>
<string>water</string>
<key>rotationEnd</key>
<integer>0</integer>
<key>startColorVarianceBlue</key>
<real>0.09819135</real>
<key>rotatePerSecondVariance</key>
<integer>0</integer>
<key>particleLifespan</key>
<real>0.8241492</real>
<key>minRadius</key>
<integer>300</integer>
<key>tangentialAcceleration</key>
<integer>0</integer>
<key>startColorVarianceGreen</key>
<integer>0</integer>
<key>rotationStart</key>
<integer>0</integer>
<key>speed</key>
<integer>0</integer>
<key>minRadiusVariance</key>
<integer>0</integer>
<key>finishColorVarianceBlue</key>
<real>0.08459974</real>
<key>name</key>
<string>water game2</string>
<key>finishColorBlue</key>
<real>0.2957706</real>
<key>finishColorGreen</key>
<real>0.1892262</real>
<key>blendFuncDestination</key>
<integer>1</integer>
<key>finishColorAlpha</key>
<integer>0</integer>
<key>sourcePositionVariancex</key>
<integer>1533</integer>
<key>startParticleSize</key>
<real>165.05</real>
<key>sourcePositionVariancey</key>
<integer>776</integer>
<key>startColorRed</key>
<integer>0</integer>
<key>finishColorVarianceRed</key>
<integer>0</integer>
<key>startColorVarianceAlpha</key>
<integer>0</integer>
<key>maxParticles</key>
<integer>2000</integer>
<key>finishColorVarianceGreen</key>
<integer>0</integer>
<key>finishParticleSize</key>
<integer>0</integer>
<key>duration</key>
<integer>-1</integer>
<key>startColorVarianceRed</key>
<integer>0</integer>
<key>thumbnailFileName</key>
<string>3A72BE30-A71A-46B3-A3BE-1E89D14BE7E5</string>
<key>finishColorRed</key>
<integer>0</integer>
<key>gravityx</key>
<real>173.2664</real>
<key>maxRadiusVariance</key>
<integer>0</integer>
<key>finishParticleSizeVariance</key>
<integer>0</integer>
<key>gravityy</key>
<real>36.28003</real>
<key>rotationEndVariance</key>
<real>164.8973</real>
<key>startColorBlue</key>
<real>0.8469407</real>
<key>rotationStartVariance</key>
<integer>0</integer>
<key>speedVariance</key>
<integer>0</integer>
<key>radialAccelVariance</key>
<integer>0</integer>
<key>textureFileName</key>
<string>pd48.png</string>
<key>tangentialAccelVariance</key>
<integer>0</integer>
<key>particleLifespanVariance</key>
<real>0.0658</real>
<key>angleVariance</key>
<integer>0</integer>
<key>angle</key>
<integer>0</integer>
<key>maxRadius</key>
<integer>0</integer>
<key>createdAt</key>
<real>1379513221.996</real>
<key>updatedAt</key>
<real>1396525620.715</real>
<key>yCoordFlipped</key>
<integer>0</integer>
<key>objectId</key>
<string>5239b3858b79590e6f000000</string>
<key>sourcePositionx</key>
<real>320</real>
<key>sourcePositiony</key>
<real>482</real>
</dict></plist>